<!-- Friends section  -->
<!-- Reference: https://www.rust-lang.org/en-US/friends.html -->
<!-- Here we want to show *who* is using Rust and *what* they are building -->
<!-- TODO this is missing the mouse over text -->
<section id="embedded-friends">
  <div class="container">
    <header>
      <h2>Friends</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">

      <div class="four columns">
        <div class="domain-icon">
          <a href="https://www.cambridgeconsultants.com/home">
            <img src="/static/images/user-logos/cambridge-consultants.png" alt="Cambridge Consultants Logo">
          </a>
          Cambridge Consultants develops breakthrough products and provides business consultancy in technology-critical issues for clients worldwide. It has significant experience creating embedded systems that use cutting-edge technologies, such as the Rust programming language
        </div>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <a href="https://ferrous-systems.com">
            <img src="/static/images/user-logos/ferrous-logo.png" alt="Ferrous Systems Logo">
          </a>
          Ferrous Systems provides consulting, training, and development work for embedded systems developed in Rust
        </div>
      </div>

    </div>
  </div>
</section>