<section id="embedded-get-started" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Get started!</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="four columns" id="discovery-book">
        <div class="domain-icon">
          <img src="/static/images/chip1.svg" alt="DIP-6 package"/>
          <h3>The discovery book</h3>
        </div>
        <p>
          Learn embedded development from the ground up&mdash;using Rust!
        </p>
        <a href="https://docs.rust-embedded.org/discovery/" target="_blank" rel="noopener" class="button button-secondary">Read</a>
      </div>
      <div class="four columns" id="embedded-rust-book">
        <div class="domain-icon">
          <img src="/static/images/chip2.svg" alt="TFQP-16 package"/>
          <h3>The Embedded Rust book</h3>
        </div>
        <p>
          Already familiar with Embedded development?
          Jump in with Rust and start reaping the benefits.
        </p>
        <a href="https://docs.rust-embedded.org/book/" target="_blank" rel="noopener" class="button button-secondary">Read</a>
      </div>
      <div class="four columns" id="embedonomicon">
        <div class="domain-icon">
          <img src="/static/images/chip3.svg" alt="BGA package" />
          <h3>The Embedonomicon</h3>
        </div>
        <p>
          Look under the hood of foundational embedded libraries.
        </p>
        <a href="https://docs.rust-embedded.org/embedonomicon/" target="_blank" rel="noopener" class="button button-secondary">Read</a>
      </div>
    </div>
    <hr>
    <div style="text-align: center;">
      <p>
        <a href="https://docs.rust-embedded.org/" target="_blank" rel="noopener" class="button button-secondary">
          More Documentation
        </a>
    </div>
  </div>
</section>
