<section id="embedded-testimonials">
    <div class="container">
        <header>
            <h2>Production Use</h2>
            <div class="highlight highlight-green"></div>
        </header>
        <!-- Testimonials section -->
        <!-- Here we want to show *who* is using Rust and *what* they are building -->
        <div class="testimonials">
            <div class="testimonial row">
                <div class="four columns">
                    <a href="https://49nord.de/">
                        <img alt="49nord logo" src="https://49nord.de/img/49nord-logo-blue-round.svg" />
                    </a>
                </div>
                <div class="eight columns" id="brinkmann-testimonial">
                    <blockquote>
                        Rust makes our customers happy, as well as our engineers.
                    </blockquote>
                    <p class="attribution">- Marc Brinkmann</p>
                </div>
            </div>
            <div class="testimonial row">
                <div class="eight columns" id="arbuzov-testimonial">
                    <blockquote>
                        We think it's really cool that we can use a modern nice language in the embedded space where
                        usually
                        there's no alternative to C/C++
                    </blockquote>
                    <p class="attribution">- Aleksei Arbuzov</p>
                </div>

                <div class="four columns">
                    <a href="http://www.termt.eu/">
                        <img alt="49nord logo" src="https://i0.wp.com/embeddedsecuritynews.com/wp-content/uploads/2017/02/terminal-technologies-logo.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>