<section id="production" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Production use</h2>
      <div class="highlight"></div>
    </header>
    <!-- Testimonials section -->
    <!-- Here we want to show *who* is using Rust and *what* they are building -->
    <div class="testimonials">

      <div class="testimonial row">
        <div class="four columns">
          <a href="https://www.sensirion.com/" target="_blank" rel="noopener">
            <img alt="Sensirion logo" src="/static/images/user-logos/sensirion.png"/>
          </a>
        </div>
        <div class="eight columns" id="Sensirion-testimonial">
          <blockquote>
            At Sensirion we recently used Rust to create an embedded demonstrator for Sensirion’s <a href="https://sensirion-automotive.com/products#PM2_5" target="_blank" rel="noopener">Particulate Matter Sensor</a>. Due to the easy cross-compilation and the availability of many high quality crates on crates.io <b>we quickly ended up with a fast and robust demonstrator.</b>
          </blockquote>
          <p class="attribution">&ndash; Raphael Nestler, Software Engineer, Sensirion</p>
        </div>
      </div>

      <div class="testimonial row">
        <div class="eight columns"id="greig-testimonial">
          <blockquote>
            At Airborne Engineering Ltd. we recently used Rust to write an Ethernet bootloader, <a href="https://github.com/airborneengineering/blethrs" target="_blank" rel="noopener">blethrs</a>, for our in-house data acquisition system. <b>Rust is a promising language and we’re excited to use it for our future projects, embedded and otherwise.</b>
          </blockquote>
          <p class="attribution">&ndash; Dr. Adam Greig, Instrumentation Engineer, Airborne Engineering Ltd.</p>
        </div>
        <div class="four columns">
          <a href="http://ael.co.uk" target="_blank" rel="noopener">
            <img alt="Airborne Engineering Ltd logo" src="/static/images/user-logos/ael_logo.png"/>
          </a>
        </div>
      </div>

      <div class="testimonial row">
        <div class="four columns">
          <a href="https://49nord.de/" target="_blank" rel="noopener">
            <img alt="49nord logo" src="/static/images/user-logos/49nord.svg"/>
          </a>
        </div>
        <div class="eight columns" id="brinkmann-testimonial">
          <blockquote>
            [Rust] enables us to ship software faster and more correct than we thought possible. Thanks to Rust, we can take memory safety for granted, while other benefits of a zero-overhead language with a sophisticated type system help us develop maintainable software.

            <b>Rust makes our customers happy, as well as our engineers.</b>
          </blockquote>
          <p class="attribution">&ndash; Marc Brinkmann, CEO, 49nord</p>
        </div>
      </div>

      <div class="testimonial row">
        <div class="eight columns"id="arbuzov-testimonial">
          <blockquote>
            <b>We think it’s really cool that we can use a modern nice language in the embedded space</b> where usually there’s no alternative to C/C++
          </blockquote>
          <p class="attribution">&ndash; Aleksei Arbuzov, Senior Software Engineer, Terminal Technologies</p>
        </div>
        <div class="four columns">
          <a href="http://www.termt.eu/" target="_blank" rel="noopener">
            <img alt="Terminal Technologies logo" src="/static/images/user-logos/terminal-technologies.png"/>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
