<section id="wasm-why" class="purple">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Why Rust?</h2>
            <div class="highlight"></div>
        </header>
        <div class="row">
            <div class="four columns">
                <div class="domain-icon">
                    <img src="/static/images/gears.svg" alt="Gears" />
                    <h3>Predictable performance</h3>
                </div>
                <p>
                    No unpredictable garbage collection pauses. No JIT compiler
                    performance cliffs. Just low-level control coupled with high-level
                    ergonomics.
                </p>
            </div>
            <div class="four columns">
                <div class="domain-icon">
                    <img src="/static/images/microscope.svg" alt="A microscope" />
                    <h3>Small code size</h3>
                </div>
                <p>
                    Small code size means faster page loads. Rust-generated
                    <code>.wasm</code> doesn’t include extra bloat, like a garbage
                    collector. Advanced optimizations and tree shaking remove dead code.
                </p>
            </div>
            <div class="four columns">
                <div class="domain-icon">
                    <img src="/static/images/luggage.svg" alt="Luggage" />
                    <h3>Modern amenities</h3>
                </div>
                <p>
                    A lively ecosystem of libraries to help you hit the
                    ground running. Expressive, zero-cost abstractions.
                    And a welcoming community to help you learn.
                </p>
            </div>
        </div>
    </div>
</section>
