<section id="wasm-why" class="purple">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Why Rust?</h2>
            <div class="highlight"></div>
        </header>
        <div class="row">
            <div class="row-column with-image">
                <img src="/static/images/gears.svg" alt="Gears" class="mw3 mw4-ns" />
                <div>
                    <h3 class="tc-l">Predictable performance</h3>
                    <p class="flex-grow-1">
                        No unpredictable garbage collection pauses. No JIT compiler
                        performance cliffs. Just low-level control coupled with high-level
                        ergonomics.
                    </p>
                </div>
            </div>
            <div class="row-column with-image">
                <img src="/static/images/microscope.svg" alt="A microscope" class="mw3 mw4-ns" />
                <div>
                    <h3 class="tc-l">Small code size</h3>
                    <p class="flex-grow-1">
                        Small code size means faster page loads. Rust-generated
                        <code>.wasm</code> doesn’t include extra bloat, like a garbage
                        collector. Advanced optimizations and tree shaking remove dead code.
                    </p>
                </div>
            </div>
            <div class="row-column with-image">
                <img src="/static/images/luggage.svg" alt="Luggage" class="mw3 mw4-ns"/>
                <div>
                    <h3 class="tc-l">Modern amenities</h3>
                    <p class="flex-grow-1">
                        A lively ecosystem of libraries to help you hit the
                        ground running. Expressive, zero-cost abstractions.
                        And a welcoming community to help you learn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
