{{#*inline "page"}}

<header>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Command-line apps</h1>
  </div>
</header>

{{> what/cli/pitch }}
{{> what/cli/maintainable }}
{{> what/cli/example }}
{{> what/cli/production }}

{{/inline}} {{~> (parent)~}}
