{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Command-line Apps</h1>
  </div>
</header>

{{> what/cli/pitch }}
{{> what/cli/example }}
{{> what/cli/production }}

{{/inline}} {{~> (parent)~}}