{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Write Solid Command Line Applications</h1>

    <h1 class="subtitle">
      Thanks to a great ecosystem that promotes best practices and easy distribution, you can get started with writing CLI apps
      in Rust in no time.
    </h1>
  </div>
</header>

<section id="cli-features">
  <div class="container">
    <div class="row">
      <article class="four columns box">
        <header class="domain-icon">
          <img src="/static/images/cli-is-no-rocket-science.svg" alt="CLI apps are no rocket science"/>
          <h3>Easy to get started with Rust</h3>
        </header>
        <p class="box-content">
          Learn Rust by writing a command line tools.
          Implementing internal tools is also a great way to introduce Rust to your team.
        </p>
        <p class="button button-secondary">
          <a href="#">Learn more &rarr;</a>
        </p>
      </article>
      <article class="four columns box">
        <header class="domain-icon">
          <img src="/static/images/cli-packaging.svg" alt="A package"/>
          <h3>Easy Distribution</h3>
        </header>
        <p class="box-content">
          Compile everything down to a single binary, no need for your users to have a runtime installed.
        </p>
        <p class="button button-secondary">
          <a href="#">Learn more &rarr;</a>
        </p>
      </article>
      <article class="four columns box">
        <header class="domain-icon">
          <img src="/static/images/cli-rustc-approved.svg" alt="Benefit from Rust's guarantees"/>
          <h3>Super solid</h3>
        </header>
        <p class="box-content">
          Even if all you want to write is a short one-off script: You can be confident it's fast, easily testable, and gives useful
          error messages.
        </p>
        <p class="button button-secondary">
          <a href="#">Learn more &rarr;</a>
        </p>
      </article>
    </div>
  </div>
</section>

<section id="cli-quotes">
  <div class="container">
    <article>
      <h2>Rust CLI application in production</h2>

      <div>
        <h3>Sentry's CLI</h3>
        <blockquote>"Rust is awesome and fun and you should use it"</blockquote>
        <p>
          <a href="https://www.youtube.com/watch?v=2Xu6EdEBa5E">Watch Armin Ronacher's talk at PolyConf 17</a>
        </p>
      </div>
    </article>
  </div>
</section>

<section id="cli-use-it">
  <div class="container">
    <div class="row">
      <article class="six columns box">
        <h2>Define your inputs</h2>
        <pre><code>{{> what/cli/code-inputs }}</code></pre>
      </article>

      <article class="six columns box">
        <h2>Write your tool</h2>
        <pre><code>{{> what/cli/code-main }}</code></pre>
      </article>
    </div>
  </div>
</section>

{{/inline}} {{~> (parent)~}}