{{#*inline "page"}}

<section>
  <h1>Embedded Devices</h1>
</section>

<section>
    <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/L4fB0rVJI8g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    Video Carosel demonstrating production uses of Rust
    </p>
</section>

<section>
    <h2>Why Rust?</h2>
    <section class="three-boxes">
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3>Code Reuse</h3>
                <p>Drivers portable across architectures</p>
            </div>
        </div>
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3>Powerful static analysis</h3>
                <p>Move functional safety checks to compile time, not run time</p>
            </div>
        </div>
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3>Works with your existing codebase</h3>
                <p>Integrates with C/C++ codebases, including with RTOSs like FreeRTOS</p>
            </div>
        </div>
    </section>
    <section class="three-boxes">
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3>TODO TITLE</h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3>TODO TITLE</h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3>TODO TITLE</h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
    </section>
</section>

<section>
    <h2>Docs</h2>
    <section class="three-boxes">
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3><a href="https://github.com/rust-lang-nursery/embedded-wg/issues/56">⚠ The Embedded Rust Book</a></h3>
                <p>Learn how to use Rust on Embedded Systems</p>
            </div>
        </div>
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3><a href="https://github.com/rust-lang-nursery/embedded-wg/issues/59">⚠ The Embeddonomicon</a></h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
        <div class="box">
            <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
            <div class="content">
                <h3><a href="https://japaric.github.io/discovery/">Rust Discovery</a></h3>
                <p>Learn about embedded systems using Rust</p>
            </div>
        </div>
    </section>
</section>

<section>
    <h2>Testimonials</h2>
    <div class="box">
        <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
        <div class="content">
            <h3><a href="#">Company #1</a></h3>
            "We sure loved using rust."
        </div>
    </div>
    <div class="box">
        <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
        <div class="content">
            <h3><a href="#">Company #2</a></h3>
            "Rust was super great. Gotta go fast!."
        </div>
    </div>
    <div class="box">
        <img src="http://www.rustacean.net/assets/rustacean-flat-happy.svg" width="250"/>
        <div class="content">
            <h3><a href="#">Company #3</a></h3>
            "Cargo is pretty much worth it to switch by itself."
        </div>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}
