{{#*inline "page"}}

<section>
  <h1>Embedded Devices</h1>
</section>

<section>
    Video Carosel demonstrating production uses of Rust
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L4fB0rVJI8g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>

<section>
    <h2>Attributes</h2>
</section>

<section>
    <h2>Docs</h2>
</section>

<section>
    <h2>Testimonials</h2>
</section>

{{/inline}}
{{~> (parent)~}}
