{{#*inline "page"}}

<section>
  <h1>Embedded Devices</h1>
</section>

<section>
    Video Carosel demonstrating production uses of Rust
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L4fB0rVJI8g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>

<section>
    <h2>but y tho</h2>
    <section class="three-boxes">
        <div class="box">
            <img src="#"/>
            <div class="content">
                <h3>Code Reuse</h3>
                <p>Drivers portable across architectures</p>
            </div>
        </div>
        <div class="box">
            <img src="#"/>
            <div class="content">
                <h3>Powerful static analysis</h3>
                <p>Move functional safety checks to compile time, not run time</p>
            </div>
        </div>
        <div class="box">
            <img src="#"/>
            <div class="content">
                <h3>Works with your existing codebase</h3>
                <p>Integrates with C/C++ codebases, including with RTOSs like FreeRTOS</p>
            </div>
        </div>
    </section>
    <section class="three-boxes">
        <div class="box">
            <img src="#"/>
            <div class="content">
                <h3>TODO TITLE</h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
        <div class="box">
            <img src="#"/>
            <div class="content">
                <h3>TODO TITLE</h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
        <div class="box">
            <img src="#"/>
            <div class="content">
                <h3>TODO TITLE</h3>
                <p>TODO CONTENT</p>
            </div>
        </div>
    </section>
</section>

<section>
    <h2>Docs</h2>
</section>

<section>
    <h2>Testimonials</h2>
</section>

{{/inline}}
{{~> (parent)~}}
