{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Embedded Devices</h1>
  </div>
</header>

<!-- TODO looping video header that autoplays and that includes clips of different embedded projects -->
<!-- like the one in https://www.patreon.com/ -->
<!-- cliking the header leads to a community maintained gallery of projects -->
<section id="embedded-project-gallery" class="background-purple">
  <div class="container">
    <header>
      <h2>Project Gallery</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="six columns">
        <p>A mote of dust suspended in a sunbeam colonies. The carbon in our apple pies cosmic fugue a very small stage
          in a vast cosmic arena. Rich in heavy atoms, circumnavigated Sea of Tranquility worldlets Apollonius of Perga
          a billion trillion a very small stage in a vast cosmic arena.</p>
        <a href="#" class="button button-secondary">See More Projects</a>
      </div>
      <div class="six columns">
        <iframe src="https://www.youtube.com/embed/L4fB0rVJI8g?rel=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
</section>

{{> what/embedded/pitch }}
{{> what/embedded/get-started }}
{{> what/embedded/production }}

{{/inline}}
{{~> (parent)~}}