{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Embedded Devices</h1>
  </div>
</header>

{{> what/embedded/showcase }}
{{> what/embedded/pitch }}
{{> what/embedded/get-started }}
{{> what/embedded/testimonials }}
{{> what/embedded/friends }}

{{/inline}}
{{~> (parent)~}}
