{{#*inline "page"}}

<header>
  <h1>What?</h1>
</header>

<section id="uses">
  <h2>Uses</h2>
  <p>teaser copy</p>
  <h3><a href="what/cli">CLI</a></h3>
  <h3><a href="what/embedded">Embedded</a></h3>
  <h3><a href="what/wasm">WASM</a></h3>
  <h3><a href="what/networking">Networking</a></h3>
</section>

<section id="Production">
  <h2>Production</h2>
  <p>teaser copy</p>
  <h3><a href="production">Check out how Rust is used in Production</a></h3>
</section>

{{/inline}}
{{~> (parent)~}}
