{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Networking</h1>
  </div>
</header>

{{> what/networking/pitch }}
{{> what/networking/get-started }}
{{> what/networking/production }}

{{/inline}}
{{~> (parent)~}}