{{#*inline "page"}}

<header>
  <h1>Release Timeline</h1>
</header>

<section>
  <a href="governance">Learn more about Rust's governance</a>
  <a href="community">Become involved with Rust</a>
  <a href="what/language-values">Learn more about Rust's Values</a>
</section>

{{/inline}}
{{~> (parent)~}}
