{{#*inline "page"}}

<header>
  <h1>Release Timeline</h1>
</header>

<section>
  <a href="governance">Learn more about Rust's governance</a>
  <a href="contribute">Contribute to Rust</a>
</section>

{{/inline}}
{{~> (parent)~}}
