{{#*inline "page"}}
{{!-- Initial section Jumbotron like --}}
<div class="wasm">
  <section role="main">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h2> Web Assembly (WASM) </h2>
          <p class="teaser"> 
            Rust and Web Assembly delivers you <b>"Maintainable Performance"</b> in Web and Node.
          </p>
          <a class="button button-wasm" href="https://webassembly.studio/">Try WebAssembly in your browser > </a>
          <a class="button" href="https://rustwasm.github.io/">Learn about RustWasm > </a>
        </div>
        <div class="one-half column wasm-logo">
          <img src="/static/images/rustwasm.jpg" id="loading">
          {{!-- May be add the tabbed code editor here --}}
        </div>
      </div>
    </div>
  </section>
  {{!-- Comparison section --}}
  <section class="section compare">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h2 class="highlight-number">~ 30%</h2> {{!-- Can we make this numbers animated --}}
          <h5>more faster</h5>
          <ul>
            <li>
              Increase in performance
            </li>
            <li>
              Increase in conversions
            </li>
            <li>
              Increase in happy customers
            </li>
          </ul>
        </div>
        <div class="one-half column">
          <h2 class="highlight-number"> &lt; 50%</h2>
          <h5>Smaller payload</h5>
          <ul>
              <li>
                wasm binary size of X is xxxKB
              </li>
              <li>
                wasm binary size of Y is yyyKB 
              </li>
              <li>
                wasm binary size of Rust is <b>zzzKB</b>
              </li>
          </ul>  
        </div>
      </div>
    </div>
  </section>
  {{!-- Why & How section --}}
  <section class="section why-how">
    <div class="container">
      <div class="row">
        <div class="one-half column">         
          <h2>Low level control</h2>      
          {{!-- Add more content here --}}
        </div>
        <div class="one-half column">
          <h2>Easy Integration</h2>
          <ul>
            <li>
              Bundles with Webpack {{!-- link to Webpack setup --}}
            </li>
            <li>
              JS and WASM can live together
            </li>
            <li>
              They complement each other well.              
            </li>
            <li>
              No more boundary crossing worries.
            </li>
            <li>
              Works the same way you import your JS {{!-- link to ESM --}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{!-- End section --}}
  <section class="section contact">
    <div class="container">
      <p>Built a cool thing with Rust & WebAssembly? <a href="https://github.com/rustwasm/team/issues/79">Share</a> it with us</p>   
      <p>Have a question / feedback / feature? Come and discuss with us <a href="https://github.com/rustwasm/team">here</a>.</p>    
    </div>
  </section>
</div>
{{/inline}}
{{~> (parent)~}}

