{{#*inline "page"}}

<header>
  <div class="container">
    <h1>WebAssembly</h1>
  </div>
</header>

{{> what/wasm/pitch }}
{{> what/wasm/get-started }}
{{> what/wasm/js }}
{{> what/wasm/production }}

{{/inline}}
{{~> (parent)~}}
