{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Web&shy;Assembly</h1>
  </div>
</header>

{{> what/wasm/pitch }}
{{> what/wasm/get-started }}
{{> what/wasm/js }}
{{> what/wasm/production }}

{{/inline}}
{{~> (parent)~}}
