@mixin buttons() {
  border: none;
  font-family: $description-font;
  font-size: $default-font-size;
  padding: 10px;
  border-radius: 7px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
