<section id="community-contact">
  <div class="container">
    <header>
      <h2>Get in touch</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="twelve columns">
        
        <p>Do you still have open questions? Please get in touch, then!</p>

        <a href="mailto:community@rust-lang.org" class="button button-secondary">Mail us!</a>
      </div>
    </div>
  </div>
</section>