<section id="community-content">
  <div class="container">
    <header>
      <h2>Video and Radio stars</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="eight columns">
        <div class="events">
          <h3>Blog Support</h3>
          <p>Rust has a culture of writing. We support this by making what you write visible and helping you create it!</p>
          <a href="#" class="button button-secondary">Learn More</a>
        </div>
        <div class="row media">
          <h3>Content-o-tron</h3>
          <p>The conent-o-tron is a project to facilitate the interaction of Rustaceans that want to help each other make their
            output better.
          </p>
          <a href="#" class="button button-secondary">Learn More</a>
        </div>
      </div>
      <div class="four columns">
        <h3>The video channel</h3>
        <p>We're trying to collect all videos of conference talks and similar in our video channel, RustVideos</p>
        <a href="https://youtube.com/rustvideos" class="button button-secondary">Watch!</a>
      </div>
    </div>
  </div>
</section>