<section id="community-content">
  <div class="container">
    <header>
      <h2>Video and Radio stars</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="eight columns">
        <div class="events">
          <h3>Events</h3>
          <p>Rust has an excellent meetup and conference scene. Events are affortable and very individual.</p>
          <a href="#" class="button button-secondary">Learn More</a>
        </div>
        <div class="row media">
          <div class="six columns">
            <h3>Meetups and User Groups</h3>
            <p>The Rust community runs a lot of meetups and smaller groups around the world. Meetups are the backbone
                          of any larger community and Rust has a lot of them!
            </p>
            <a href="#" class="button button-secondary">Learn More</a>
          </div>
          <div class="six columns">
            <h3>Conferences</h3>
            <p>Rust has an active conference scene around the globe! Large and small, all awesome and special!</p>
            <a href="#" class="button button-secondary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="four columns">
        <h3>RustBridge</h3>
        <p>The RustBridges are awesome! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum debitis ad repellat officia sint? Corporis minima odio saepe tenetur praesentium, beatae reiciendis placeat aperiam, velit neque laboriosam quisquam necessitatibus aspernatur.</p>
      </div>
    </div>
  </div>
</section>