<section id="community-content">
  <div class="container">
    <header>
      <h2>Speaking your tongue</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="eight columns">
        <div class="events">
          <h3>Translation</h3>
          <p>Rust wants to be an accessible language. For that, we want to translate as much of our writing as possible.</p>
          <a href="#" class="button button-secondary">Learn More</a>
        </div>
        <div class="row media">
          <div class="six columns">
            <h3>Translate the website</h3>
            <p>This website is translated in many languages. Yours is missing? Get in touch if you think you can get a reliable team running!
            </p>
            <a href="#" class="button button-secondary">Learn More</a>
          </div>
          <div class="six columns">
            <h3>Translate the docs</h3>
            <p>Rusts documentation can be translated as well, we'd be very interested in people helping out!</p>
            <a href="#" class="button button-secondary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="four columns">
        <h3>Did you know?</h3>
        <p>Rust is used by people around the globe and most Rustaceans don't speak english as their first language. TODO: Crosscheck</p>
      </div>
    </div>
  </div>
</section>