<section id="community-content">
  <div class="container">
    <header>
      <h2>Doing Research</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="eight columns">
        <div class="events">
          <h3>The Survey</h3>
          <p>Sometimes, it's hard to know what is going on. To change that, we run regular surveysS.</p>
          <a href="#" class="button button-secondary">Learn more</a>
        </div>
      </div>
      <div class="four columns">
        <h3>Translate the Surveys</h3>
        <p>To make the surveys more accessible, they are tranlsated into many languages. Get in touch if you want to help out!</p>
      </div>
    </div>
  </div>
</section>