{{#*inline "page"}}

<header>
  <h1>Policies</h1>
</header>

<section>
  <h3><a href="/policies/media-guide">Media Guide</a></h3>
  <h3><a href="/policies/security">Security</a></h3>
  <h3><a href="/policies/license">License</a></h3>
  <h3><a href="/policies/code-of-conduct">Code of Conduct</a></h3>
</section>

{{/inline}}
{{~> (parent)~}}
