{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Policies</h1>
  </div>
</header>

<section id="policies-index" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <p>This page links to the comprehensive set of Rust’s policies.</p>
    <ul>
      <li><a href="/policies/code-of-conduct">Code of Conduct</a></li>
      <li><a href="/policies/licenses">Licenses</a></li>
      <li><a href="/policies/media-guide">Logo Policy and Media Guide</a></li>
      <li><a href="/policies/security">Security Disclosures</a></li>
    </ul>
    <p>Didn’t find what you were looking for? Have a question? Please reach out!</p>
    <p><a href="mailto:core@rust-lang.org" class="button button-secondary">Message the Core Team</a></p>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
