{{#*inline "page"}}

<header>
  <div class="container">
    <h1>License</h1>
  </div>
</header>

<section id="license">
  <div class="container">
    <p>The Rust Programing Language and all other official projects are generally dually licensed:</p>
    <ul>
      <li><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></li>
      <li><a href="http://opensource.org/licenses/MIT">MIT license</a></li>
    </ul>
    <p>Specific licensing info for each project can be found in its Github Repository.</p>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
