{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Licenses</h1>
  </div>
</header>

<section id="license" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>License</h2>
      <div class="highlight"></div>
    </header>
    <p>The Rust Programming Language and all other official projects, including this website, are generally dual-licensed:</p>
    <ul>
      <li><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></li>
      <li><a href="http://opensource.org/licenses/MIT">MIT license</a></li>
    </ul>
    <p>Specific licensing info for each project can be found in its GitHub Repository.</p>
    <p>Third-party logos may be subject to third-party copyrights and trademarks, and are not available under the same license as the rest of the Rust website.</p>
    <p>If you have a specific question or concern about how the Rust project or any of its associated projects are licensed, please contact the Rust Core Team.</p>
    <a href="mailto:core-team@rust-lang.org" class="button button-secondary">Email The Core Team</a>
  </div>
</section>

<section id="license" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Attribution</h2>
      <div class="highlight"></div>
    </header>
    <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
      from <a href="https://www.flaticon.com/"
              title="Flaticon">www.flaticon.com</a>, licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/"
               title="Creative Commons BY 3.0">CC-3.0-BY</a>
    </p>
</section>

{{/inline}}
{{~> (parent)~}}
