<section class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>
        Build it in Rust
      </h2>
      <div class="highlight"></div>
    </header>

    <div class="flex-none flex-l flex-row">
      <p class="flex-grow-1">
        In 2018, the Rust community decided to improve programming experience
        for a few distinct domains (see <a
        href="https://blog.rust-lang.org/2018/03/12/roadmap.html">the 2018
        roadmap</a>). For these, you can find many high-quality crates and some
        awesome guides on how to get started.
      </p>
    </div>

    <div class="flex-none flex-l flex-row">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli.svg" alt="terminal"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Command Line
          </h3>
          <p class="flex-grow-1">
            Whip up a CLI tool quickly with Rust’s robust ecosystem.
            Rust helps you maintain your app with confidence and distribute it with ease.
          </p>
          <a href="/what/cli" class="button button-secondary">Learn More</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/webassembly.svg" alt="gear with puzzle piece elements"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            WebAssembly
          </h3>
          <p class="flex-grow-1">
          Use Rust to supercharge your JavaScript, one module at a time.
          Publish to npm, bundle with WebPack, and you’re off to the races.
          </p>
          <a href="/what/wasm" class="button button-secondary">Learn More</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/networking.svg" alt="a cloud with nodes"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Networking
          </h3>
          <p class="flex-grow-1">
            Predictable performance. Tiny resource footprint. Rock-solid reliability.
            Rust is great for network services.
          </p>
          <a href="/what/networking" class="button button-secondary">Learn More</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/embedded.svg" alt="an embedded device chip"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Embedded
          </h3>
          <p class="flex-grow-1">
            Targeting low-resource devices?
            Need low-level control without giving up high-level conveniences?
            Rust has you covered.
          </p>
          <a href="/what/embedded" class="button button-secondary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
