<section class="purple">
  <div class="container">
    <header>
      <h2>Build it in Rust</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="three columns" id="command-line">
        <div class="domain-icon">
          <img src="/static/images/cli.svg" alt="terminal"/>
          <h3>Command Line</h3>
        </div>
        <p>
          Whip up a CLI tool quickly with Rust's robust ecosystem.
          Rust helps you maintain your app with confidence and distribute it with ease.
        </p>
        <a href="/what/cli" class="button button-secondary">Learn More</a>
      </div>
      <div class="three columns" id="web-assembly">
        <div class="domain-icon">
          <img src="/static/images/webassembly.svg" alt="gear with puzzle piece elements"/>
          <h3>WebAssembly</h3>
        </div>
        <p>
          Use Rust to supercharge your JavaScript, one module at a time.
          Publish to npm, bundle with WebPack, and you're off to the races.
        </p>
        <a href="/what/wasm" class="button button-secondary">Learn More</a>
      </div>
      <div class="three columns" id="networking">
        <div class="domain-icon">
          <img src="/static/images/networking.svg" alt="a cloud with nodes"/>
          <h3>Networking</h3>
        </div>
        <p>
          Predicatable performance. Tiny resource footprint. Rock-solid reliability.
          Rust is great for network services.
        </p>
        <a href="/what/networking" class="button button-secondary">Learn More</a>
      </div>
      <div class="three columns" id="embedded">
        <div class="domain-icon">
          <img src="/static/images/embedded.svg" alt="an embedded device chip"/>
          <h3>Embedded</h3>
        </div>
        <p>
          Targeting low-resource devices?
          Need low-level control without giving up high-level conveniences?
          Rust has you covered.
        </p>
        <a href="/what/embedded" class="button button-secondary">Learn More</a>
      </div>
    </div>
  </div>
</section>
