<section class="domains">
  <div class="container">
    <header>
      <h2>Build it in Rust</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/cli.svg"/>
          <a href="/what/cli"><h3>Command Line</h3></a>
        </div>
        <p>
          This is written in the train from Varna to Galatz. Last night we all assembled a little before the time of sunset.
        </p>
      </div>
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/webassembly.svg"/>
          <a href="/what/wasm"><h3>Web Assembly</h3></a>
        </div>
        <p>
          Each of us had done his work as well as he could; so far as thought, and endeavour, and opportunity go, we are prepared for the whole of our journey, and for our work when we get to Galatz.
        </p>
      </div>
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/networking.svg" />
          <a href="/what/server"><h3>Networking</h3></a>
        </div>
        <p>
          When the usual time came round Mrs. Harker prepared herself for her hypnotic effort; and after a longer and more serious effort on the part of Van Helsing than has been usually necessary, she sank into the trance
        </p>
      </div>
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/embedded.svg"/>
          <a href="/what/embedded"><h3>Embedded</h3></a>
        </div>
        <p>
          Usually she speaks on a hint; but this time the Professor had to ask her questions, and to ask them pretty resolutely, before we could learn anything; at last her answer came
        </p>
      </div>
    </div>
  </div>
</section>
