<section class="get-involved red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Get involved</h2>
      <div class="highlight">
    </header>
    <div class="row">
      <div class="eight columns" id="contrubite-code">
        <div class="row media">
          <div class="six columns" id="read-rust">
            <h3>Read Rust</h3>
            <p>We love documentation! Take a look at the books available online, as well as key blog posts and user
              guides.</p>
            <a href="learn" class="button button-secondary">Get Started</a>
          </div>
          <div class="six columns" id="watch-rust">
            <h3>Watch Rust</h3>
            <p>The Rust community has a dedicated YouTube channel collecting a huge range of presentations and
              tutorials.</p>
            <a href="https://www.youtube.com/channel/UCaYhcUwRBNscFNUKTjgPFiA" class="button button-secondary">Check it out</a>
          </div>
        </div>
        <div class="pt3">
          <h3>Contribute code</h3>
          <p>
            Rust is truly a community effort, and we welcome contribution from hobbyists and production users, from
            newcomers and seasoned professionals. Come help us make the Rust experience even better!
          </p>
          <a href="https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md" class="button button-secondary" target="_blank" rel="noopener">
            Learn More
          </a>
        </div>
      </div>
      <div class="four columns" id="upcoming-events">
        <h3>Upcoming events</h3>
        <iframe class="twelve columns" title="rust community calendar" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=apd9vmbc22egenmtu5l6c5jbfc%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FMadrid"
          style="border-width:0" height="400" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</section>
