<section class="get-involved">
  <div class="container">
    <header>
      <h2>Get Involved</h2>
      <div class="highlight highlight-green">
    </header>
    <div class="row">
      <div class="eight columns">
          <div class="code">
            <h3>Contribute Code</h3>
            <p>Euclid radio telescope dispassionate extraterrestrial observer star stuff harvesting star light, courage of our questions radio telescope made in the interiors of collapsing stars, hydrogen atoms!</p>
            <a href="#" class="button button-secondary">Learn More</a>
          </div>
          <div class="row media">
            <div class="six columns">
              <h3>Read Rust!</h3>
              <p>Billions upon billions citizens of distant epochs the only home we've ever known science cosmic ocean shores of the cosmic ocean culture.</p>
              <a href="#" class="button button-secondary">Learn More</a>
            </div>
            <div class="six columns">
              <h3>Watch Rust</h3>
              <p>Star stuff harvesting star light tingling of the spine a very small stage in a vast cosmic arena.</p>
              <a href="#" class="button button-secondary">Learn More</a>
            </div>
          </div>
      </div>
      <div class="four columns">
        <h3>Upcoming Rust Events</h3>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=apd9vmbc22egenmtu5l6c5jbfc%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FMadrid" style="border-width:0" height="400" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</section>
