<section id="language-values" class="green">
  <div class="container">
    <h3 class="w-100 f-1 f-subheadline-l">
      Designed for <br class="dn db-l" />
      <i>performance</i>, <i>reliability</i>, and <i>productivity</i>.
    </h3>
    <div class="flex flex-column flex-row-l pv4 pv0-l">
      <section class="flex flex-column mw8 measure-wide-l pv3 pv5-m pt6-ns pr4-l">
        <h4 class="bb bw3">Performance</h4>
        <p class="f3 lh-copy">
          Rust is blazing fast and memory-efficent, with
          <span>no garbage collector</span> or runtime &ndash; so it can run on
          embedded devices or in other languages, or power performance-critical
          systems.
        </p>
      </section>
      <section class="flex flex-column mw8 measure-wide-l pv3 pv5-m pt6-ns ph4-l">
        <h4 class="bb bw3">Reliability</h4>
        <p class="f3 lh-copy">
          Rust's rich type system and rock-solid compiler guarantee
          <span>memory- and thread-safety</span> &ndash; and enable you to
          eliminate many other classes of bugs <span>at compile-time</span>.
        </p>
      </section>
      <section class="flex flex-column mw8 measure-wide-l pv3 pv5-m pt6-ns pl4-l">
        <h4 class="bb bw3">Productivity</h4>
        <p class="f3 lh-copy">
          Rust has <span>great documentation</span>, a compiler with
          <span>great error messages</span>, and <span>great tooling</span>
          &ndash; with an integrated package manager and build tool, a
          multi-editor language server, and more.
        </p>
      </section>

    </div>
  </div>
</section>