<section id="language-values" class="green">
  <div class="container">
  <h3>A compiled language that values performance and safety as much as developer productivity.</h3>
  <p>
            Rust provides a strong <span>safety net</span>, with the compiler
        guaranteeing the absence of many classes of bugs, for example those
        stemming from memory safety issues. Its type system allows it to achieve
        this <span>without a garbage collector</span> or a run time, so it
        can deliver the <span>highest level of performance</span>, and work
        on small devices or embedded into other languages. Rust's compiler gives
        <span>great error messages</span>, and when paired with Rust's <span>great documentation</span>,
        provides an excellent (and ever-improving) developer experience.
  </p>
  </div>
</section>
