<section id="language-values" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header class="pb0">
      <h2>
        Why Rust?
      </h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l pv4 pv0-l">
      <section class="flex flex-column mw8 measure-wide-l pv3 pt4-ns pr4-l">
        <h3 class="f2 f1-l">Performance</h3>
        <p class="f3 lh-copy">
          Rust is blazingly fast and memory-efficient: with no runtime or
          garbage collector, it can power performance-critical services, run on
          embedded devices, and easily integrate with other languages.
        </p>
      </section>
      <section class="flex flex-column mw8 measure-wide-l pv3 pt4-ns ph3-l">
        <h3 class="f2 f1-l">Reliability</h3>
        <p class="f3 lh-copy">
          Rust’s rich type system and ownership model guarantee memory-safety
          and thread-safety &mdash; and enable you to eliminate many classes of
          bugs at compile-time.
        </p>
      </section>
      <section class="flex flex-column mw8 measure-wide-l pv3 pt4-ns pl4-l">
        <h3 class="f2 f1-l">Productivity</h3>
        <p class="f3 lh-copy">
          Rust has great documentation, a friendly compiler with useful error
          messages, and top-notch tooling &mdash; an integrated package manager
          and build tool, smart multi-editor support with auto-completion and 
          type inspections, an auto-formatter, and more.
        </p>
      </section>

    </div>
  </div>
</section>
