<section class="white production">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Rust in production</h2>
      <div class="highlight"></div>
    </header>
    <div class="description">
      <p>
        Hundreds of companies around the world are using Rust in production
        today for fast, low resource, cross-platform solutions. Software you know
        and love, like <a href="https://hacks.mozilla.org/2017/08/inside-a-super-fast-css-engine-quantum-css-aka-stylo/" target="_blank" rel="noopener">Firefox</a>, <a href="https://blogs.dropbox.com/tech/2016/06/lossless-compression-with-brotli/" target="_blank" rel="noopener">Dropbox</a>, and <a href="https://blog.cloudflare.com/cloudflare-workers-as-a-serverless-rust-platform/" target="_blank" rel="noopener">Cloudflare</a>, uses Rust. <strong>From startups to large
        corporations, from embedded devices to scalable web services, Rust is a great fit.</strong>
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonial row">
        <div class="eight columns" id="chucklefish-testimonial">
          <blockquote>
            Rust is one of the few languages that really gives you a large amount of confidence that your parallel and
            concurrent code is anywhere near correct.
          </blockquote>
          <p class="attribution">&ndash; Catherine West, Technical Lead</p>
        </div>
        <div class="four columns">
          <a href="https://blog.chucklefish.org/about/" target="_blank" rel="noopener"><img src="/static/images/user-logos/chucklefish.png" alt="Chucklefish Logo" /></a>
        </div>
      </div>
      <hr/>
      <div class="testimonial row">
        <div class="four columns">
          <a href="https://www.youtube.com/watch?v=u6ZbF4apABk" target="_blank" rel="noopener"><img src="/static/images/user-logos/yelp.png" alt="Yelp Logo" /></a>
        </div>
        <div class="eight columns" id="yelp-testimonial">
          <blockquote>
            All the documentation, the tooling, the community is great - you have all the tools to succeed in writing Rust code.
          </blockquote>
          <p class="attribution">&ndash; Antonio Verardi, Infrastructure Engineer</p>
        </div>
      </div>
    </div>
    <a href="production" class="button button-secondary">Learn More</a>
  </div>
</section>
