<section class="production">
  <div class="container">
    <header>
      <h2>Rust in Production</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="description">
      <p>
        Over a hundred companies around the world are using Rust in production
        <strong>today</strong> for fast, low resource, cross-platform solutions. Software you know
        and love, such as the Firefox web browser and Dropbox, uses Rust. From startups to large
        corporations, from embedded devices to scalable web services, Rust is a great fit.
      </p>
      <a href="#" class="button button-secondary">
          <strong>Learn more</strong>
      </a>
    </div>
    <div class="testimonials">
      <div class="testimonial row">
        <div class="four columns">
          <img src="/static/images/user-logos/tilde.png" alt="Tilde Logo"/>
        </div>
        <div class="eight columns">
          <blockquote>
            We've never made a programming error in Rust code that has caused a segfault that our users have reported.
          </blockquote>
          <p class="attribution">- Yehuda Katz, CTO</p>
        </div>
      </div>
      <div class="testimonial row">
        <div class="eight columns">
          <blockquote>
            Rust is one of the few languages that really gives you a large amount of confidence that your parallel and concurrent code is anywhere near correct.
          </blockquote>
          <p class="attribution">- Catherine West, Technical Lead</p>
        </div>
        <div class="four columns">
          <img src="/static/images/user-logos/chucklefish.png" alt="Chucklefish Logo" />
        </div>
      </div>
    </div>
  </div>
</section>
