<section class="white production">
  <div class="container">
    <header>
      <h2>Rust in Production</h2>
      <div class="highlight"></div>
    </header>
    <div class="description">
      <p>
        Hundreds of companies around the world are using Rust in production
        today for fast, low resource, cross-platform solutions. Software you know
        and love, like Firefox, Dropbox, and Discord, uses Rust. <strong>From startups to large
        corporations, from embedded devices to scalable web services, Rust is a great fit.</strong>
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonial row">
        <div class="eight columns" id="chucklefish-testimonial">
          <blockquote>
            Rust is one of the few languages that really gives you a large amount of confidence that your parallel and
            concurrent code is anywhere near correct.
          </blockquote>
          <p class="attribution">- Catherine West, Technical Lead</p>
        </div>
        <div class="four columns">
          <img src="/static/images/user-logos/chucklefish.png" alt="Chucklefish Logo" />
        </div>
      </div>
    </div>
    <a href="production" class="button button-secondary">Learn More</a>
  </div>
</section>
