<section class="green unique">
  <div class="container">
    <header>
      <h2>What makes Rust unique?</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="description">
      <p>
        Rust provides a strong <strong>safety net</strong>, with the compiler
        guaranteeing the absence of many classes of bugs, for examples those
        stemming from memory safety issues. Its type system allows it to achieve
        this <strong>without a garbage collector</strong> or a run time, so it
        can deliver the <strong>highest level of performance</strong>, and work
        on small devices or embedded into other languages.
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonial row">
        <div class="eight columns" id="florian-testimonial">
          <blockquote>
            Rust is research theory applied in a package that we would like to
            use in production.
          </blockquote>
          <p class="attribution">&ndash; Florian Gilcher at <a href="https://www.youtube.com/watch?v=-Tj8Q12DaEQ">GOTO Berlin 2017</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
