<section class="green unique">
  <div class="container">
    <header>
      <h2>What makes Rust unique?</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="description">
      <p>
        Rust provides a strong <strong>safety net</strong>, with the compiler
        guaranteeing the absence of many classes of bugs, for examples those
        stemming from memory safety issues. Its type system allows it to achieve
        this <strong>without a garbage collector</strong> or a run time, so it
        can deliver the <strong>highest level of performance</strong>, and work
        on small devices or embedded into other languages.
      </p>
    </div>
  </div>
</section>
