<section id="wasm-get-started" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Get started!</h2>
            <div class="highlight"></div>
        </header>
        <div class="row">
            <div class="four columns">
                <div class="domain-icon">
                  <img src="/static/images/webassembly-logo.svg" alt="WebAssembly Logo" />
                </div>
                <p>
                    Learn more about the fast, safe, and open virtual machine called
                    WebAssembly, and read its standard.
                </p>
                <a href="https://webassembly.org/" target="_blank" rel="noopener" class="button button-secondary">Learn More</a>
            </div>
            <div class="four columns">
                <div class="domain-icon">
                  <img src="/static/images/wasm-ferris.png" alt="wasm ferris" />
                </div>
                <p>
                    Learn how to build, debug, profile, and deploy WebAssembly
                    applications using Rust!
                </p>
                <a href="https://rustwasm.github.io/book" target="_blank" rel="noopener" class="button button-secondary">Read The Book</a>
            </div>
            <div class="four columns">
                <div class="domain-icon">
                  <img src="/static/images/mdn-logo.svg" "MDN logo"/>
                </div>
                <p>
                    Learn more about WebAssembly on the Mozilla Developer Network.
                </p>
                <a href="https://developer.mozilla.org/en-US/docs/WebAssembly" target="_blank" rel="noopener" class="button button-secondary">Check it out</a>
            </div>
        </div>
    </div>
</section>
