<section id="wasm-plays-well-with-javascript" class="background-red">
    <div class="container">
        <header>
            <h2>Plays Well With JavaScript</h2>
            <div class="highlight highlight-yellow"></div>
        </header>
        <div class="row">
            <div class="four columns">
                <div class="domain-icon">
                    <a href="https://developer.mozilla.org/en-US/docs/WebAssembly">
                        <h3>Augment, don't replace</h3>
                    </a>
                </div>
                <p>
                    The dream of WebAssembly is not to kill JavaScript but to work
                    alongside of it, to help super charge processing-heavy or low-level
                    tasks &mdash; tasks that benefit from Rust's focus on performance.
                </p>
            </div>
            <div class="four columns">
                <div class="domain-icon">
                    <a href="https://developer.mozilla.org/en-US/docs/WebAssembly">
                        <h3>Works with familiar toolchains</h3>
                    </a>
                </div>
                <p>
                    Publish Rust WebAssembly packages to package registries like npm.
                    Bundle and ship them with WebPack, Parcel, and others.
                    Maintain them with tools like <code>npm audit</code> and Greenkeeper.
                </p>
            </div>
            <div class="four columns">
                <div class="domain-icon">
                    <a href="https://developer.mozilla.org/en-US/docs/WebAssembly">
                        <h3>Seamless interop</h3>
                    </a>
                </div>
                <p>
                    Automatically generate binding code between Rust, WebAssembly, and JavaScript APIs.
                    Take advantage of libraries like <a href="https://rustwasm.github.io/wasm-bindgen/web-sys/index.html"><code>web-sys</code></a>
                    that
                    provide pre-packaged bindings for the entire web platform.
                </p>
            </div>
        </div>
    </div>
</section>
