<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Production use</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial row">
                <div class="four columns">
                  <img src="/static/images/user-logos/cloudflare.svg" />
                </div>
                <div class="eight columns">
                    <blockquote>
                       We can compile Rust to WASM, and call it from Serverless functions woven into the very fabric of the Internet. That’s huge and I can’t wait to do more of it.
                    </blockquote>
                    <p class="attribution">
                        &ndash;  Steven Pack,
                        <a href="https://blog.cloudflare.com/cloudflare-workers-as-a-serverless-rust-platform/" target="_blank" rel="noopener">
                            Serverless Rust with Cloudflare Workers
                        </a>

                    </p>
                </div>
            </div>
            <div class="testimonial row">
                <div class="eight columns">
                    <blockquote>
                        The JavaScript implementation [of the <code>source-map</code> library]
                        has accumulated convoluted code in the name of performance, and we
                        replaced it with idiomatic Rust. Rust does not force us to choose
                        between clearly expressing intent and runtime performance.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Nick Fitzgerald,
                        <a href="https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/" target="_blank" rel="noopener">
                            Oxidizing Source Maps with Rust and WebAssembly
                        </a>
                    </p>
                </div>
                <div class="four columns">
                    <a href="https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/" target="_blank" rel="noopener" style="display: block;">
                        <img src="/static/images/firefox.png" />
                    </a>
                </div>
            </div>
            <div class="testimonial row">
                <div class="four columns">
                  <img src="/static/images/dropbox.svg" />
                </div>
                <div class="eight columns">
                    <blockquote>
                        [Rust’s] properties make it easy to embed the DivANS codec in a
                        webpage with WASM, as shown above.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Daniel Reiter Horn and Jongmin Baek,
                        <a href="https://blogs.dropbox.com/tech/2018/06/building-better-compression-together-with-divans/" target="_blank" rel="noopener">
                            Building Better Compression Together with DivANS
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
