footer {
  background-color: $dark-gray;
  color: $white;
  height: 40px;
  position: static;
  font-size: $default-font-size;
  padding: 25px 25px 10px 25px;

  @media (min-width: $tablet-width) {
    font-size: $small-font-size;
    margin-bottom: 0;
    bottom: -8px;
  }

  a {
    color: $white;

    &:hover,
    &:active {
      color: $light-gray;
    }
  }
}
