@import '../mixins/buttons';

header {
  position: static;
  color: $dark-gray;
  border: none;
  padding: 30px;
  width: 75%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0 0 0 20px;
    top: 78px;
    width: 95%;
  }

  .header-text {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    button {
      margin-top: 20px;
    }
  }

  h1 {
    font-family: $header-font;
    font-size: $extra-large-font-size;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0;
    height: 100px;
  }

  h2 {
    font-family: $description-font;
    font-size: $large-font-size;
    width: 100%;
    max-width: 300px;
    line-height: 1.5;

    @media (min-width: $tablet-width) {
      font-size: $default-font-size;
      width: 80%;
    }

    strong {
      font-family: $body-font-bold;
    }
  }

  button {
    @include buttons;

    color: $white;
    background-color: $dark-gray;
    width: 200px;
    height: 65px;

    span {
      font-size: $small-font-size;
      font-family: $body-font;
    }
  }

  @media (min-width: $tablet-width) {

    h2 {
      width: 60%;
      max-width: 500px;
    }

    button {
      margin-top: 20px;
    }
  }
}
