/* Alfa Slab One Regular - latin */
@font-face {
  font-family: "Alfa Slab One";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Alfa Slab One Regular"), local("AlfaSlabOne-Regular"), url("/static/fonts/woff2/AlfaSlabOne-Regular.latin.woff2") format("woff2"), url("/static/fonts/woff/AlfaSlabOne-Regular.latin.woff") format("woff");
  font-display: swap; }

/* Alfa Slab One Regular - latin-ext */
@font-face {
  font-family: "Alfa Slab One";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Alfa Slab One Regular"), local("AlfaSlabOne-Regular"), url("/static/fonts/woff2/AlfaSlabOne-Regular.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/AlfaSlabOne-Regular.latin-ext.woff") format("woff");
  font-display: swap; }

/* Alfa Slab One Regular - vietnamese */
@font-face {
  font-family: "Alfa Slab One";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Alfa Slab One Regular"), local("AlfaSlabOne-Regular"), url("/static/fonts/woff2/AlfaSlabOne-Regular.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/AlfaSlabOne-Regular.vietnamese.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - latin */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.latin.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.latin.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - latin-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.latin-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - cyrillic */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.cyrillic.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.cyrillic.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - cyrillic-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.cyrillic-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.cyrillic-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - greek */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0370-03FF;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.greek.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.greek.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - greek-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+1F00-1FFF;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.greek-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.greek-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans Regular - vietnamese */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/static/fonts/woff2/FiraSans-Regular.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Regular.vietnamese.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.latin.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.latin.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - latin-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.latin-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - cyrillic */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.cyrillic.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.cyrillic.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - cyrillic-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.cyrillic-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.cyrillic-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - greek */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0370-03FF;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.greek.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.greek.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - greek-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+1F00-1FFF;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.greek-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.greek-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans Italic - vietnamese */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("/static/fonts/woff2/FiraSans-Italic.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-Italic.vietnamese.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - latin */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.latin.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.latin.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - latin-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.latin-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - cyrillic */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.cyrillic.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.cyrillic.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - cyrillic-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.cyrillic-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.cyrillic-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - greek */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0370-03FF;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.greek.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.greek.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - greek-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+1F00-1FFF;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.greek-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.greek-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold - vietnamese */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/static/fonts/woff2/FiraSans-SemiBold.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBold.vietnamese.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.latin.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.latin.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - latin-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.latin-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - cyrillic */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.cyrillic.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.cyrillic.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - cyrillic-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.cyrillic-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.cyrillic-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - greek */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0370-03FF;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.greek.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.greek.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - greek-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+1F00-1FFF;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.greek-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.greek-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans SemiBold Italic - vietnamese */
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("/static/fonts/woff2/FiraSans-SemiBoldItalic.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-SemiBoldItalic.vietnamese.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - latin */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.latin.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.latin.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - latin-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.latin-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - cyrillic */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.cyrillic.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.cyrillic.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - cyrillic-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.cyrillic-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.cyrillic-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - greek */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0370-03FF;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.greek.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.greek.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - greek-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+1F00-1FFF;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.greek-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.greek-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold - vietnamese */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/static/fonts/woff2/FiraSans-ExtraBold.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBold.vietnamese.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.latin.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.latin.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - latin-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.latin-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.latin-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - cyrillic */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.cyrillic.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.cyrillic.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - cyrillic-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.cyrillic-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.cyrillic-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - greek */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0370-03FF;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.greek.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.greek.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - greek-ext */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+1F00-1FFF;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.greek-ext.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.greek-ext.woff") format("woff");
  font-display: swap; }

/* Fira Sans ExtraBold Italic - vietnamese */
@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("/static/fonts/woff2/FiraSans-ExtraBoldItalic.vietnamese.woff2") format("woff2"), url("/static/fonts/woff/FiraSans-ExtraBoldItalic.vietnamese.woff") format("woff");
  font-display: swap; }
