{{#*inline "page"}}

{{#with data.team as |team|}}
    <section class="white">
        {{> governance/group-team}}
    </section>
{{/with}}
{{#if data.subteams}}
    <section class="purple">
        {{#each data.subteams as |team|}}
            {{> governance/group-team}}
        {{/each}}
    </section>
{{/if}}
{{#if data.project_groups}}
    <section class="green">
        {{#each data.project_groups as |team|}}
            {{> governance/group-team}}
        {{/each}}
    </section>
{{/if}}
{{#if data.wgs}}
    <section class="green">
        {{#each data.wgs as |team|}}
            {{> governance/group-team}}
        {{/each}}
    </section>
{{/if}}

{{/inline}}
{{~> (lookup this "parent")~}}
