{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Governance</h1>
    <h2 class="subtitle">How Rust is built by its community</h2>
  </div>
</header>

<section id="roadmap" class="red">
  <div class="container">
    <header>
      <h2>Roadmap and RFC process</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="four columns">
        IMAGE HERE
      </div>
      <div class="eight columns">
        <p>Each major decision in Rust starts as a Request for Comments (RFC).
          Everyone is invited to discuss the proposal, to work toward a shared understanding of the tradeoffs.
          Though sometimes arduous, this community deliberation is Rust's secret sauce for quality.
        </p>
        <a href="https://github.com/rust-lang/rfcs" class="button button-secondary">Learn more</a>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        IMAGE HERE
      </div>
      <div class="eight columns">
        <p>The RFC process is also used to establish a yearly roadmap laying out our aspirations for that year.
          This shared vision is essential for keeping the development process focused.
        </p>
        <a href="https://blog.rust-lang.org/2018/03/12/roadmap.html" class="button button-secondary">Read the 2018
          Roadmap</a>
      </div>
    </div>
</section>

<section id="teams" class="purple">
  <div class="container">
    <header>
      <h2>Teams</h2>
      <div class="highlight"></div>
    </header>
    <p>Each aspect of the Rust project is managed by a dedicated leadership team:</p>

    <div class="row">
      <div class="four columns">
        <b>Team</b>
      </div>
      <div class="eight columns">
        <b>Purview</b>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Core</a>
      </div>
      <div class="eight columns">
        Rust's vision and global concerns.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Language</a>
      </div>
      <div class="eight columns">
        The design of the core language.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Unsafe code guidelines (UCG)</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Compiler</a>
      </div>
      <div class="eight columns">
        The Rust compiler, <code>rustc</code>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Non-lexical lifetimes (NLL)</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Grammar</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Traits</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Compiler performance</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Codegen</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <p><a href="??">Library</a>
      </div>
      <div class="eight columns">
        The standard library and ecosystem.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Dev Tools</a>
      </div>
      <div class="eight columns">
        Cargo, IDE support, <code>rustdoc</code>, <code>rustfmt</code>, and more.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="https://github.com/rust-community/team">Community</a>
      </div>
      <div class="eight columns">
        Events, surveys, switchboard and more.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Documentation</a>
      </div>
      <div class="eight columns">
        Official books and API docs.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Operations</a>
      </div>
      <div class="eight columns">
        Rust releases and project infrastructure.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Moderation</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <a href="??">Domain working groups</a>
      </div>
      <div class="eight columns">
        Bolster Rust's story for particular application domains.
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Command-line apps</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: WebAssembly</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: Embedded devices</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        &bullet; <a href="??">WG: networking services</a>
      </div>
      <div class="eight columns">

      </div>
    </div>
  </div>
</section>

<section id="sustainability" class="white">
  <div class="container">
    <header>
      <h2>Sustainability and support</h2>
      <div class="highlight"></div>
    </header>
    <p>The Rust project belongs to its community of stakeholders, not to any one company or organization.
      It's built by a worldwide group of volunteers, students, and paid contributors.
      Organizations that benefit from Rust give back by allocating employee time to Rust contribution
      or by sponsoring community efforts.
      There are people working part- and full-time on Rust at a half dozen companies, big and small.
    </p>
    <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
  </div>
</section>

<section id="community-standards" class="green">
  <div class="container">
    <header>
      <h2>Community standards</h2>
      <div class="highlight"></div>
    </header>
    <p>Rust <i>is</i> its community, and so it's vital that its culture reflect the project's values:
      inclusivity, empowerment, kindness, and careful deliberation. We have a Code of Conduct and a Moderation Team to
      enforce it, but in official venues we strive to go beyond that and treat each other with the highest standards of
      empathy and respect.</p>
    <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
</section>

{{/inline}}
{{~> (parent)~}}
