{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Governance</h1>
    <h1 class="subtitle">How Rust is built by its community</h1>
  </div>
</header>

<section id="roadmap">
  <div class="container">
    <header>
      <h2>Roadmap and RFC Process</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <div class="row">
      <div class="eight columns">
      <p>Each major decision in Rust starts as a Request for Comments (RFC).
      Everyone is invited to discuss the proposal, to work toward a shared understanding of the tradeoffs.
      Though sometimes arduous, this community deliberation is Rust's secret sauce for quality.
      </p>
      <a href="/governance/rfcs" class="button button-secondary">Learn more</a>
      <p>The RFC process is also used to establish a yearly roadmap laying out our aspirations for that year.
      This shared vision is essential for keeping the development process focused.
      </p>
      <a href="/governance/roadmap" class="button button-secondary">Read the 2018 Roadmap</a>
      </div>
      <div class="four columns">
        <img src="http://via.placeholder.com/350x200">
      </div>
    </div>
</section>

<section id="teams">
  <div class="container">
    <header>
      <h2>Teams</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Each aspect of the Rust project is managed by a dedicated leadership team:</p>
    <div class="row">
      <div class="four columns book">
        <img src="/static/images/reference.svg" />
        <p><a href="??">Core</a>: Rust's vision and global concerns.</p>
      </div>
      <div class="four columns book">
        <img src="/static/images/nomicon.svg" />
        <p><a href="??">Language</a>: the design of the core language.</p>
      </div>
      <div class="four columns book">
        <img src="/static/images/unstable.svg" />
        <p><a href="??">Compiler</a>: the Rust compiler, <code>rustc</code></p>
      </div>
    </div>
    <div class="row">
      <div class="four columns book">
        <img src="/static/images/reference.svg" />
        <p><a href="??">Library</a>: the standard library and ecosystem.</p>
      </div>
      <div class="four columns book">
        <img src="/static/images/nomicon.svg" />
        <p><a href="??">Dev Tools</a>: Cargo, IDE support, and more.</p>
      </div>
      <div class="four columns book">
        <img src="/static/images/unstable.svg" />
        <p><a href="https://github.com/rust-community/team">Community</a>: events, surveys, switchboard and more.</p>
      </div>
    </div>
    <div class="row">
      <div class="four columns book">
        <img src="/static/images/reference.svg" />
        <p><a href="??">Documentation</a>: official books and API docs</p>
      </div>
      <div class="four columns book">
        <img src="/static/images/nomicon.svg" />
        <p><a href="??">Operations</a>: keeping development running.</p>
      </div>
      <div class="four columns book">
        <img src="/static/images/unstable.svg" />
        <p><a href="??">Moderation</a>: </p>
      </div>
    </div>
  </div>
</section>

<section id="sustainability">
  <div class="container">
    <header>
      <h2>Sustainability and support</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <p>The Rust project belongs to its community of stakeholders, not to any one company or organization.
    It's built by a worldwide group of volunteers, students, and paid contributors.
    Organizations that benefit from Rust give back by allocating employee time to Rust contribution
    or by sponsoring community efforts.
    There are people working part- and full-time on Rust at a half dozen companies, big and small.
    </p>
    <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
  </div>
</section>

<section id="community-standards">
  <div class="container">
    <header>
      <h2>Community Standards</h2>
      <div class="highlight highlight-purple"></div>
    </header>
  <p>Rust <i>is</i> its community, and so it's vital that its culture reflect the project's values:
  inclusivity, empowerment, kindness, and careful deliberation. We have a Code of Conduct and a Moderation Team to
  enforce it, but in official venues we strive to go beyond that and treat each other with the highest standards of empathy and respect.</p>
  <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
</section>

{{/inline}}
{{~> (parent)~}}
