<div class="flex flex-column justify-between w-100 w-33-l mb4 pa3">
    <h3>{{team.website_data.name}}</h3>
    <p>{{team.website_data.description}}</p>
    <a href="/governance/{{team.url}}" class="center w-100 mw6 button button-secondary">
        Members & Contacts
    </a>
</div>
