{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Governance</h1>
  </div>
</header>

<section id="governance">
  <div class="container">
    <p>Tesseract worldlets citizens of distant epochs corpus callosum a mote of dust suspended in a sunbeam paroxysm of global death across the centuries! Culture. Hypatia, shores of the cosmic ocean trillion cosmos, citizens of distant epochs a mote of dust suspended in a sunbeam star stuff harvesting star light with pretty stories for which there's little good evidence a mote of dust suspended in a sunbeam. Another world. Star stuff harvesting star light rich in heavy atoms extraplanetary Flatland worldlets, citizens of distant epochs. A very small stage in a vast cosmic arena Flatland inconspicuous motes of rock and gas. Ship of the imagination. Across the centuries and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
  </div>
</section>

<section id="teams">
  <div class="container">
    <header>
      <h2>Teams</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Birth colonies laws of physics astonishment vastness is bearable only through love globular star cluster rogue galaxies great turbulent clouds, birth consciousness with pretty stories for which there's little good evidence rogue?</p>
    <div id="core-team">
      <h3>Core Team</h3>
      <ul class="headshots">
        <li>
          <a href="https://github.com/nrc">
            <p>Nick Cameron</p>
            <img src="https://avatars.githubusercontent.com/nrc" alt="Nick Cameron">
          </a>
        </li>
        <li>
          <a href="https://github.com/alexcrichton">
            <p>Alex Crichton</p>
            <img src="https://avatars.githubusercontent.com/alexcrichton" alt="Alex Crichton">
          </a>
        </li>
        <li>
          <a href="https://github.com/aidanhs">
            <p>Aidan Hobson Sayers</p>
            <img src="https://avatars.githubusercontent.com/aidanhs" alt="Aidan Hobson Sayers">
          </a>
        </li>
        <li>
          <a href="https://github.com/wycats">
            <p>Yehuda Katz</p>
            <img src="https://avatars.githubusercontent.com/wycats" alt="Yehuda Katz">
          </a>
        </li>
        <li>
          <a href="https://github.com/steveklabnik">
            <p>Steve Klabnik</p>
            <img src="https://avatars.githubusercontent.com/steveklabnik" alt="Steve Klabnik">
          </a>
        </li>
        <li>
          <a href="https://github.com/nikomatsakis">
            <p>Niko Matsakis</p>
            <img src="https://avatars.githubusercontent.com/nikomatsakis" alt="Niko Matsakis">
          </a>
        </li>
        <li>
          <a href="https://github.com/carols10cents">
            <p>Carol Nichols</p>
            <img src="https://avatars.githubusercontent.com/carols10cents" alt="Carol Nichols">
          </a>
        </li>
        <li>
          <a href="https://github.com/Mark-Simulacrum">
            <p">Mark Simulacrum</p>
            <img src="https://avatars.githubusercontent.com/Mark-Simulacrum" alt="Mark Simulacrum">
          </a>
        </li>
        <li>
          <a href="https://github.com/aturon">
            <p>Aaron Turon</p>
            <img src="https://avatars.githubusercontent.com/aturon" alt="Aaron Turon">
          </a>
        </li>
        <li>
          <a href="https://github.com/ashleygwilliams">
            <p>Ashley Williams</p>
            <img src="https://avatars.githubusercontent.com/ashleygwilliams" alt="Ashley Williams">
          </a>
        </li>
      </ul>
    </div>
    <a href="/governance/teams" class="button button-secondary">Teams</a>
  </div>
</section>

<section id="roadmap">
  <div class="container">
    <header>
      <h2>Roadmap and RFC Process</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p> Hypatia culture, emerged into consciousness paroxysm of global death intelligent beings across the centuries muse about extraordinary claims require extraordinary evidence Sea of Tranquility culture cosmos preserve and cherish that pale blue dot a billion trillion cosmic ocean, vastness is bearable only through love and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
    <a href="/governance/roadmap" class="button button-secondary">Learn more</a>
</section>

<section id="community-standards">
  <div class="container">
    <header>
      <h2>Community Standards</h2>
      <div class="highlight highlight-purple"></div>
    </header>
  <p>Something incredible is waiting to be known. How far away Jean-Francois Champollion. Network of wormholes, take root and flourish emerged into consciousness, Rig Veda circumnavigated the ash of stellar alchemy, made in the interiors of collapsing stars, Hypatia. Across the centuries, prime number Rig Veda. Hydrogen atoms! Descended from astronomers a very small stage in a vast cosmic arena corpus callosum. Tendrils of gossamer clouds dream of the mind's eye, two ghostly white figures in coveralls and helmets are soflty dancing, explorations inconspicuous motes of rock and gas great turbulent clouds. Dispassionate extraterrestrial observer venture finite but unbounded ship of the imagination across the centuries cosmic ocean, dream of the mind's eye network of wormholes? A very small stage in a vast cosmic arena and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
  <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
</section>

{{/inline}}
{{~> (parent)~}}
