{{#*inline "page"}}

<header>
  <h1>Governance</h1>
</header>

<section id="governance">
  <h2>Governance</h2>
  <p>copy about how rust is governed</p>
</section>

<section id="teams">
  <h2>Teams</h2>
  <p>teaser copy</p>
  <div id="core-team">
    <h3>Core Team</h3>
  </div>
  <div id="teams">
    <h3><a href="/governance/teams">Teams</a></h3>
  </div>
</section>

<section id="roadmap">
  <h2>Roadmap</h2>
  <p>Some text about the roadmap and a link to the RFC.</p>
  <h3>Learn more about Rust's <a href="what/language-values">Values</a></h3>
</section>

<section id="code-of-conduct">
  <h2>Code of Conduct</h2>
  <p>Maybe talk about leadership values here</p>
  <h3><a href="/policies/code-of-conduct">Code of Conduct</a></h3>
</section>

{{/inline}}
{{~> (parent)~}}
