{{#*inline "page"}}

<header>
  <h1>Teams</h1>
</header>

<section>
  <p>copy about how teams work etc</p>
</section>

<section>
  <a href="#">Community Team</a>
  <a href="#">DevTools Team</a>
  <a href="#">Language Team</a>
</section>

{{/inline}}
{{~> (parent)~}}
