{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Team Name</h1>
  </div>
</header>

<section id="team-info" class="purple">
  <div class="container">
  </div>
</section>

<section id="subteams" class="green">
  <div class="container">
    <header>
      <h2>Subteams</h2>
      <div class="highlight"></div>
    </header>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
