{{#*inline "page"}}

<header>
  <div class="container">
    <h1>{{ data.info[0].name }}</h1>
  </div>
</header>

<section id="team-info" class="purple">
  <div class="container">
  </div>
</section>

{{#if data.subteams ~}}
<section id="subteams" class="green">
  <div class="container">
    <header>
      <h2>Subteams</h2>
      <div class="highlight"></div>
    </header>
    <div id="teams" class="row">
      {{#each data.subteams as |st| ~}}
        <div class="two columns">
          <h3>{{st.name~}}</h3>
        </div>
      {{/each~}}
    </div>
  </div>
</section>
{{/if ~}}

{{/inline}}
{{~> (parent)~}}
