// Custom classes we use to extend Tachyons

@media screen and (min-width: 30em) and (max-width: 60em) {
  .max-width-half-m {
    max-width: 50%;
  }
}

@media screen and (min-width: 60em) {
  .max-width-quarter-l {
    max-width: 25%;
  }

  .mw-50-l {
    max-width: 50%;
  }

  .mw-33-l {
    max-width: 33%;
  }

  .mw-67-l {
    max-width: 67%;
  }
}
