@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis Bold';
  src: url('../fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'AlfaSlabOne';
  src: url('../fonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

// THIRD-PARTY STYLES
@import 'hamburgers/hamburgers';

// VARIABLES
@import 'variables/colors';
@import 'variables/numbers';
@import 'variables/fonts';

// PARTIALS
@import 'partials/_nav';
@import 'partials/_header';
@import 'partials/_footer';

// PAGES
@import 'index';

// MIXINS
@import 'mixins/buttons';
@import 'mixins/subheader-line';

// APPLICATION-WIDE STYLES

body {
  margin: 0;
  width: 100%;
  background-color: $background-color;
  color: $text-color;
  font-size: $large-font-size;
  font-family: $body-font;

  @media (min-width: $tablet-width) {
    font-size: $default-font-size;
  }

  a {
    text-decoration: none;
  }

  .center-background-logo {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin-bottom: -20%;
      margin-left: 80%;
      width: 20%;
      margin-top: -6%;
    }
  }

  .bottom-background-logo {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 20%;
      position: absolute;
      bottom: -69%;
      left: -4%;
    }
  }

  .subheader-wrapper {
    width: max-content;
    width: -moz-max-content;

    .subheader {
      font-family: $header-font;
      font-weight: 400;
      letter-spacing: 1px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .purple-line {
      @include subheader-line($purple);
    }

    .light-purple-line {
      @include subheader-line($light-purple);
    }
  }

  section.home-production {
    max-width: 70%;
    margin-top: 85px;
    padding-left: 50px;

    @media (min-width: $tablet-width) {
      max-width: 100%;
      padding: 50px;
    }

    .description {
      display: flex;
      flex-direction: column;

      p {
        font-size: $default-font-size;
        max-width: 70%;
        line-height: $line-height;
        color: $medium-gray;

        @media (min-width: $tablet-width) {
          font-size: $small-font-size;
          margin-left: 5%;
        }
      }

      button {
        @include buttons;

        background-color: $light-blue;
        color: $white;
        width: 150px;
      }
    }

    .description-container {
      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: auto auto;
      }

      svg {
        display: none;

        @media (min-width: $tablet-width) {
          display: block;
          justify-self: center;
          z-index: 0;
          height: auto;
          max-width: 90%;
        }
      }
    }

    .company-logos {
      padding: 25px 0 25px 0;

      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: auto auto;
        padding: 40px;
      }

      div {
        @media (min-width: $tablet-width) {
          justify-self: center;
          padding-bottom: 25px;
          margin: 20px;

          &:nth-child( odd ) {
            border-right: 1px solid $light-gray;
            padding-right: 40px;
          }
        }

        span {
          color: $purple;
          font-size: $default-font-size;

          @media (min-width: $tablet-width) {
            font-size: $small-font-size;
          }
        }

        p.quote-attribution {
          color: $medium-gray;
          font-size: $default-font-size;
          line-height: $line-height;
          margin-top: 20px;

          @media (min-width: $tablet-width) {
            font-size: $extra-small-font-size;
          }
        }
      }
    }
  }

  section.home-intro {
    background-color: $dark-gray;
    color: $white;
    margin-top: 0;
    padding: 50px;
    max-width: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 400px;
      flex-direction: row;
    }

    a {
      color: $white;
      text-transform: uppercase;
      font-size: $default-font-size;

      @media (min-width: $tablet-width) {
        font-size: $small-font-size;
      }
    }

    .subjects {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding-top: 25px;

      @media (min-width: $tablet-width) {
        flex-direction: row;
      }

      .subject-item {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        font-size: $default-font-size;
        line-height: $line-height;

        @media (min-width: $tablet-width) {
          max-width: 15%;
          font-size: $small-font-size;
        }

        svg {
          margin-left: 35%;
        }
      }
    }
  }

  section.home-community {
    background-color: $light-blue;
    color: $white;
    margin-top: 0;
    padding: 50px;
    margin-bottom: -46px;
    max-width: 100%;

    a {
      color: $white;
      text-transform: uppercase;
      font-size: $default-font-size;

      @media (min-width: $tablet-width) {
        font-size: $small-font-size;
      }
    }

    .events-icon {
      padding-bottom: 20px;
    }

    .map {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        width: 100%;
      }
    }

    .community-content {
      display: flex;
      flex-direction: column;
      font-size: $default-font-size;
      width: 100%;

      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: $small-font-size;
      }

      button {
        @include buttons;

        width: 200px;
        background-color: $purple;
        color: $white;
        border: 1px solid $white;
      }

      .community-info {
        z-index: 0;
        padding: 20px 20px 20px 0;
        line-height: $line-height;

        @media (min-width: $tablet-width) {
          padding: 20px 60px 20px 20px;
        }

        .contribute-info {
          padding: 10px 0 10px 0;
        }
      }
    }
  }

  .icon {
    width: 6%;
    padding-right: 5px;

    @media (min-width: $tablet-width) {
      width: 4%;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $default-font-size;

    a:hover {
      color: $medium-gray;
    }

    a:active {
      color: $light-gray;
    }
  }
}
