// BASE COLORS
$white: #fff;

$dark-gray: #454c53;
$medium-gray: #4e545b;
$light-gray: #e7e7e8;

$light-blue: #35a7ee;

$purple: #662a9d;
$light-purple: #a76cde;
$transparent-light-purple: rgba(167, 108, 222, 0.7);

// ASSIGNED COLORS
$background-color: $white;
$text-color: $dark-gray;
