// DEVICES
$tablet-width: 750px;

// TEXT
$default-font-size: 1rem;
$extra-small-font-size: 0.6rem;
$small-font-size: 0.7rem;
$large-font-size: 1.2rem;
$mobile-nav-font-size: 2rem;
$extra-large-font-size: 5rem;

$line-height: 1.5;
