<div class="flex-none flex-m flex-l flex-wrap">
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust"
       class="button button-secondary">VS Code</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/rust-enhanced"
       class="button button-secondary">Sublime Text 3</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/atom-ide-rust"
       class="button button-secondary">Atom</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://plugins.jetbrains.com/plugin/8182-rust"
       class="button button-secondary">IntelliJ IDEA</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://www.eclipse.org/downloads/packages/release/2018-12/r/eclipse-ide-rust-developers-includes-incubating-components"
       class="button button-secondary">Eclipse</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/rust.vim"
       class="button button-secondary">Vim</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/rust-mode"
       class="button button-secondary">Emacs</a>
  </div>
</div>
