<section class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>
        Why Rust?
      </h2>
      <div class="highlight"></div>
    </header>

    <div class="flex flex-column flex-row-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli-rustc-approved.svg" alt="Shield with a checkmark" class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Solid and quick
          </h3>
          <p class="flex-grow-1">
            Even if you’re just writing a short one-off script, you can be
            confident it’s fast, easily testable, and gives helpful output.
          </p>
          <a href="/learn" class="button button-secondary">
            Rust’s guarantees
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli-packaging.svg" alt="box with a checkmark"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Easy distribution
          </h3>
          <p class="flex-grow-1">
            Compile everything down to a single binary&mdash;no need for your
            users to have a runtime or libraries installed.
          </p>
          <a href="https://rust-lang-nursery.github.io/cli-wg/tutorial/packaging.html" target="_blank" rel="noopener" class="button button-secondary">
            How to ship Rust code
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli-configs.svg" alt="A note and a gear"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Robust configuration
          </h3>

          <p class="flex-grow-1">
            Handle configuration files across platforms with ease.  Rust will
            deal with namespaces and formats for you.
          </p>
          <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/config-files.html" target="_blank" rel="noopener" class="button button-secondary">
              Start configuring
          </a>
        </div>
      </div>
    </div>
    <div class="flex-none flex-l flex-row mt5-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli-man.svg" alt="Help manual"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Manuals? done.
          </h3>
          <p class="flex-grow-1">
            Generate manual pages for your app automatically.  Just package the
            generated files and you’re done.
          </p>
          <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/docs.html" target="_blank" rel="noopener" class="button button-secondary">
            Learn how
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli-pipe.svg" alt="Pipes"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Data in, data out
          </h3>
          <p class="flex-grow-1">
            In addition to talking to humans, Rust has great tools to help you
            talk to machines.
          </p>
          <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/machine-communication.html"
            target="_blank" rel="noopener" class="button button-secondary">
            Communicate with machines
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli-logging.svg"
               alt="3 wood logs stacked on top of each other"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            Flexible logging
          </h3>

          <p class="flex-grow-1">
            It’s easy to add logging, and even easier to configure it to
            different targets and with different styles.
          </p>
          <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/human-communication.html"
            target="_blank" rel="noopener" class="button button-secondary">
            Log, trace, comprehend
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
