<section id="cli-pitch" class="purple">
    <div class="container">
        <header>
            <h2>Why Rust for CLI development?</h2>
            <div class="highlight"></div>
        </header>
        <div class="row">
            <article class="four columns box">
                <header class="domain-icon">
                  <img src="/static/images/cli-rustc-approved.svg" alt="" />
                  <h3>Solid and Quick</h3>
                </header>
                <p class="box-content">
                    Even if you're just writing a short one-off script,
                    you can be confident it's fast, easily testable,
                    and gives helpful output.
                </p>
                <a href="/learn" class="button button-secondary">
                  Rust's guarantees
                </a>
            </article>
            <article class="four columns box">
                <header class="domain-icon">
                  <img src="/static/images/cli-packaging.svg" alt="" />
                  <h3>Easy Distribution</h3>
                </header>
                <p class="box-content">
                    Compile everything down to a single binary&mdash;no need for your users to have a runtime
                    or libraries installed.
                </p>
                <a href="https://crate-ci.github.io/release.html" class="button button-secondary">
                    How to ship Rust code
                </a>
            </article>
            <article class="four columns box">
                <header class="domain-icon">
                    <img src="/static/images/cli-configs.svg" alt="" />
                    <h3>Robust Configuration</h3>
                </header>
                <p>
                    Handle configuration files across platforms with ease.
                    Rust will deal with namespaces and formats for you.
                </p>
                <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/config-files.html" class="button button-secondary">
                    Start configuring
                </a>
            </article>
        </div>
        <div class="row">
            <article class="four columns box">
                <header class="domain-icon">
                    <img src="/static/images/cli-man.svg" alt="" />
                    <h3>Manuals? Done.</h3>
                </header>
                <p>
                    Generate manual pages for your app automatically.
                    Just package the generated files and you're done.
                </p>
                <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/docs.html" class="button button-secondary">
                    Learn how
                </a>
            </article>
            <article class="four columns box">
                <header class="domain-icon">
                    <img src="/static/images/cli-pipe.svg" alt="" />
                    <h3><code>cat data | app</code></h3>
                </header>
                <p>
                    In addition to talking to humans,
                    Rust has great tools to help you talk to machines.
                </p>
                <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/machine-communication.html" class="button button-secondary">
                    Communicate with machines
                </a>
            </article>
            <article class="four columns box">
                <header class="domain-icon">
                    <img src="/static/images/cli-logging.svg" alt="" />
                    <h3>Flexible Logging</h3>
                </header>
                <p>
                    It's easy to add logging, and even easier to configure
                    it to different targets and with different styles.
                </p>
                <a href="https://rust-lang-nursery.github.io/cli-wg/in-depth/human-communication.html" class="button button-secondary">
                    Log, trace, comprehend
                </a>
            </article>
        </div>
    </div>
</section>
