<section id="cli-quotes" class="white">
    <div class="container">
        <article>
          <header>
            <h2>Rust CLI application in production</h2>
            <div class="highlight"></div>
          </header>

            <div>
                <h3>Sentry's CLI</h3>
                <blockquote>"Rust is awesome and fun and you should use it"</blockquote>
                <p>
                    <a href="https://www.youtube.com/watch?v=2Xu6EdEBa5E">Watch Armin Ronacher's talk at PolyConf 17</a>
                </p>
            </div>
        </article>
    </div>
</section>
