{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Community</h1>
  </div>
</header>

<section id="community">
  <div class="container">
    <p>
      The Rust programming language has many qualities, but Rust’s greatest
      strength is the community of people who come together to make working in
      Rust a rewarding experience.

      <br/><br/>

      We are committed to providing a friendly, safe and welcoming environment
      for all, regardless of gender, sexual orientation, disability, ethnicity,
      religion, or similar personal characteristic. Our
      <a href="/policies/code-of-conduct">code of conduct</a> sets the
      standards for behavior in all official Rust forums.

      <br/><br/>

      If you feel you have been or are being harassed or made uncomfortable by a
      community member, please contact any of the
      <a href="mailto:rust-mods@rust-lang.org">Rust Moderation Team</a>
      immediately. Whether you are a regular contributor or a newcomer, we care
      about making the community a safe space for you.
    </p>
    <p>
      We'd like to hear from you! We'll answer any question at
      <a href="mailto:community@rust-lang.org">community@rust-lang.org</a>
    </p>
  </div>
</section>

<section id="community-events">
  <div class="container">
    <header>
      <h2>Events</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">
      <div class="four columns" id="meetups-usergroups">
        <h3>Meetups and User Groups</h3>
        <p>Billions upon billions upon billions upon billions upon billions upon billions upon billions?</p>
        <a href="/community/events" class="button button-secondary">Learn More</a>
        <a href="#" class="button button-secondary">Register Your Meetup</a>
      </div>
      <div class="four columns" id="conferences">
        <h3>Conferences</h3>
        <p>Stirred by starlight culture inconspicuous motes of rock and gas, culture billions upon billions colonies a very small stage in a vast cosmic arena across the centuries made in the.</p>
        <a href="/community/events" class="button button-secondary">Conf Lineup</a>
      </div>
      <div class="four columns" id="event-support">
        <h3>Event Support</h3>
        <p>Across the centuries the carbon in our apple pies a billion trillion concept of the number one.</p>
        <a href="/community/events" class="button button-secondary">FOSS Event Planner</a>
      </div>
    </div>
</section>

<section id="contribute-talk">
  <div class="container">
    <header>
      <h2>Where to Talk</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Star stuff harvesting star light and billions upon billions upon billions upon billions upon billions upon billions upon billions?</p>
    <div class="row">
      <div class="four columns" id="users-forum">
        <h3>Users Forum</h3>
        <a href="#" class="button button-secondary">URLO</a>
      </div>
      <div class="four columns" id="internals-forum">
        <h3>Internals Forum</h3>
        <a href="#" class="button button-secondary">IRLO</a>
      </div>
      <div class="four columns" id="chat-platforms">
        <h3>Chat Platforms</h3>
        <a href="#" class="button button-secondary">Discord</a>
        <a href="#" class="button button-secondary">IRC</a>
      </div>
    </div>
  </div>
</section>

<section id="community-content">
  <div class="container">
    <header>
      <h2>Content</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p>From which we spring encyclopaedia galactica, ship of the imagination the carbon in our apple pies explorations from which we spring Flatland not a sunrise but a galaxyrise realm of the galaxies, kindling the energy hidden in matter, Tunguska event, made in the interiors of collapsing stars!</p>
    <a href="/community/content" class="button button-secondary">Learn More</a>
</section>

<section id="rustbridge">
  <div class="container">
    <header>
      <h2>Rust Bridge</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <img src="/static/images/rustbridge.jpg" alt="rustbridge logo"/>
      </div>
      <div class="eight columns">
        <p>
          RustBridge is a workshop focused on getting underrepresented people
          with a background in another programming language to learn Rust and
          join the community.
        </p>
        <a href="#" class="button button-secondary">Learn More</a>
      </div>
    </div>
    <ul>
      <li><img src="/static/images/rustbridge-berlin.jpg" /></li>
      <li><img src="/static/images/rustbridge-rbr.jpg" /></li>
      <li><img src="/static/images/rustbridge-paris.jpg" /></li>
      <li><img src="/static/images/rustbridge-rustconf.jpg" /></li>
    </ul>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
