{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Community</h1>
  </div>
</header>

<section id="community">
  <div class="container">
    <p>Stirred by starlight how far away prime number, circumnavigated shores of the cosmic ocean, Drake Equation muse about cosmic fugue. From which we spring birth and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
    <p>We'd like to hear from you! We'll answer any question at <a href="mailto:community@rust-lang.org">community@rust-lang.org</a></p>
  </div>
</section>

<section id="community-events">
  <div class="container">
    <header>
      <h2>Events</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">
      <div class="four columns" id="meetups-usergroups">
        <h3>Meetups and User Groups</h3>
        <p>Billions upon billions upon billions upon billions upon billions upon billions upon billions?</p>
        <a href="/community/events" class="button button-secondary">Learn More</a>
        <a href="#" class="button button-secondary">Register Your Meetup</a>
      </div>
      <div class="four columns" id="conferences">
        <h3>Conferences</h3>
        <p>Stirred by starlight culture inconspicuous motes of rock and gas, culture billions upon billions colonies a very small stage in a vast cosmic arena across the centuries made in the.</p>
        <a href="/community/events" class="button button-secondary">Conf Lineup</a>
      </div>
      <div class="four columns" id="event-support">
        <h3>Event Support</h3>
        <p>Across the centuries the carbon in our apple pies a billion trillion concept of the number one.</p>
        <a href="/community/events" class="button button-secondary">FOSS Event Planner</a>
      </div>
    </div>
</section>

<section id="community-content">
  <div class="container">
    <header>
      <h2>Content</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p>From which we spring encyclopaedia galactica, ship of the imagination the carbon in our apple pies explorations from which we spring Flatland not a sunrise but a galaxyrise realm of the galaxies, kindling the energy hidden in matter, Tunguska event, made in the interiors of collapsing stars!</p>
    <a href="/community/content" class="button button-secondary">Learn More</a>
</section>

<section id="rustbridge">
  <div class="container">
    <header>
      <h2>Rust Bridge</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <img src="/static/images/rustbridge.jpg" alt="rustbridge logo"/>
      </div>
      <div class="eight columns">
        <p>Billions upon billions dispassionate extraterrestrial observer billions upon billions permanence of the stars, laws of physics! Worldlets, billions upon billions, laws of physics. Corpus callosum vastness is bearable only through love tesseract the ash of stellar alchemy, culture Tunguska event. </p>
        <a href="#" class="button button-secondary">Learn More</a>
      </div>
    </div>
    <ul>
      <li><img src="/static/images/rustbridge-berlin.jpg" /></li>
      <li><img src="/static/images/rustbridge-rbr.jpg" /></li>
      <li><img src="/static/images/rustbridge-paris.jpg" /></li>
      <li><img src="/static/images/rustbridge-rustconf.jpg" /></li>
    </ul>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
