{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Community</h1>
  </div>
</header>

<section id="community" class="purple">
  <div class="container">
    <p>
      The Rust programming language has many qualities, but Rust’s greatest
      strength is the community of people who come together to make working in
      Rust a rewarding experience.

    </p>
    <p>
      We'd like to hear from you! Not sure where or who to ask a question? Want to get involved but aren't sure how?
      The community team is eager to connect you with someone who can help!
    </p>
    <a href="mailto:community@rust-lang.org" class="button button-secondary">email community@rust-lang.org</a>
  </div>
</section>

<section id="contribute-talk" class="red">
  <div class="container">
    <header>
      <h2>Where to talk</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="four columns" id="users-forum">
        <h3>Users forum</h3>
        <p>
          The Rust Users Forum is a place for Rust users to communicate about
          anything and everything related to Rust. Ask questions here,
          coordinate on project ideas, whatever you like!
        </p>
        <a href="https://users.rust-lang.org" target="_blank" rel="noopener"
           class="button button-secondary">Visit Forum</a>
      </div>
      <div class="four columns" id="internals-forum">
        <h3>Internals forum</h3>
        <p>
          The Rust Internals Forum is a place for discussion about the
          development of Rust itself.
        </p>
        <a href="https://internals.rust-lang.org/" target="_blank" rel="noopener"
           class="button button-secondary">Visit Forum</a>
      </div>
      <div class="four columns" id="chat-platforms">
        <h3>Chat platforms</h3>
        <p>
          Development of Rust, and general chatter happens on several chat
          platforms. Check out general channels and more on the Rust Discord server,
          or check out the teams page to find where specific teams meet.
        </p>
        <a href="https://discord.gg/rust-lang" target="_blank" rel="noopener" class="button button-secondary">Discord</a>
        <a href="/governance" class="button button-secondary">Learn more about teams</a>
      </div>
    </div>
  </div>
</section>

<section id="community-events" class="green">
  <div class="container">
    <header>
      <h2>Events</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="six columns" id="meetups-usergroups">
        <h3>Find a local meetup or conference</h3>
        <p>
          There are more than 90 Meetups and several conferences worldwide in over 35 countries.
          Rustaceans meet periodically in Rust User Groups. Its a great
          introduction to the community and a great way to learn and socialize
          with other people with a similar interest. Meetings are usually
          informal and open to everyone.
        </p>
        <a href="https://calendar.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&height=400&wkst=1&bgcolor=%23FFFFFF&src=apd9vmbc22egenmtu5l6c5jbfc%40group.calendar.google.com&color=%23691426&ctz=Europe%2FMadrid"
          target="_blank" rel="noopener" class="button button-secondary">View Calendar</a>
        <a href="https://blog.rust-lang.org/2018/01/31/The-2018-Rust-Event-Lineup.html"
           target="_blank" rel="noopener" class="button button-secondary">Check out the 2018 Conference Lineup</a>
      </div>
      <div class="six columns" id="conferences">
        <h3>Run your own event</h3>
        <p>
          As Rust grows, we're excited to help folks start their own local events.
          From hack and learns, to meetups, to conferences, the Rust Events Team is
          ready to help support you.
        </p>
        <a href="https://github.com/rust-community/events-team#-rust-events-team" target="_blank" rel="noopener"
          class="button button-secondary">Check out the events team repo</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf52YXGhqBaHtCXtVna4iHYMK7IQaTqUW6V-ztsZC8C2TBInQ/viewform"
          target="_blank" rel="noopener" class="button button-secondary">Register your event</a>
      </div>
    </div>
    <img src="/static/images/rustfest.jpg" alt="RustFest participants">
  </div>
</section>

<section id="rustbridge" class="white">
  <div class="container">
    <header>
      <h2>RustBridge</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <img src="/static/images/rustbridge.jpg" alt="rustbridge logo"/>
      </div>
      <div class="eight columns">
        <p>
          RustBridge is a workshop focused on getting underrepresented people
          with a background in another programming language to learn Rust and
          join the community.
        </p>
        <a href="https://github.com/rustbridge/team" target="_blank" rel="noopener"
           class="button button-secondary">Check out the Rustbridge repo</a>
      </div>
    </div>

    {{!--
      TODO: switch this to a `ul` when Skeleton is gone, since we can then also
      remove our `section .container ul` settings.
    --}}
    <div class="list flex flex-column flex-row-ns flex-wrap-m flex-nowrap-l justify-center">
      <div class="tc max-width-half-m ph1-ns"><img src="/static/images/rustbridge-rustconf.jpg" alt="RustBridge at RustConf" /></div>
      <div class="tc max-width-half-m ph1-ns"><img src="/static/images/rustbridge-paris.jpg" alt="RustBridge Paris" /></div>
      <div class="tc max-width-half-m ph1-ns"><img src="/static/images/rustbridge-berlin.jpg" alt="RustBridge Berlin" /></div>
      <div class="tc max-width-half-m ph1-ns"><img src="/static/images/rustbridge-rbr.jpg" alt="RustBridge at Rust Belt Rust" /></div>
    </div>
  </div>
</section>

<section id="rustreach" class="purple">
  <div class="container">
    <header>
      <h2>Increasing Rust's Reach</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <img src="/static/images/rustreach.jpg" alt="increasing rust's reach logo"/>
      </div>
      <div class="eight columns">
        <p>
          Increasing Rust's Reach is a  program matches Rust team members from all parts of the project with individuals who are underrepresented in Rust's community and the tech industry for a partnership of three (3) months, from mid-May to mid-August. Each partnership agrees to a commitment of 3–5 hours per week working on a Rust Project.
        </p>
        <a href="http://reach.rust-lang.org/" target="_blank" rel="noopener"
           class="button button-secondary">Visit Website</a>
      </div>
    </div>
  </div>
</section>

<section id="conduct" class="green">
  <div class="container">
    <header>
      <h2>Community Standards</h2>
      <div class="highlight"></div>
    </header>
    <p>
      We are committed to providing a friendly, safe and welcoming environment
      for all, regardless of gender, sexual orientation, disability, ethnicity,
      religion, or similar personal characteristic. Our
      <a href="/policies/code-of-conduct">code of conduct</a> sets the
      standards for behavior in all official Rust forums.

      <br/><br/>

      If you feel you have been or are being harassed or made uncomfortable by a
      community member, please contact any of the
      <a href="mailto:rust-mods@rust-lang.org">Rust Moderation Team</a>
      immediately. Whether you are a regular contributor or a newcomer, we care
      about making the community a safe space for you.
    </p>
    <div class="row">
      <div class="six columns">
        <a href="mailto:rust-mods@rust-lang.org" class="button button-secondary">Message the moderation team</a>
      </div>
      <div class="six columns">
        <a href="/policies/code-of-conduct" class="button button-secondary">read the code of conduct</a>
        <a href="/policies/code-of-conduct#moderation" class="button button-secondary">read the moderation guidelines</a>
      </div>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
