{{#*inline "page"}}

<header>
  <div class="container">
    <h1><a href="mailto:community@rust-lang.org">community<br/>@rust-lang.org</a></h1>

    <p>We'd like to hear from you! We'll answer any question at <a href="mailto:community@rust-lang.org">community@rust-lang.org</a>!</p>
  </div>
</header>

<section id="community-events">
  <div class="container">
    <header>
      <h2>Rusting together!</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/community-meetup.svg" alt="A circle of people"/>
          <h3>Meetups and User Groups</h3>
        </div>
        <p>
          The Rust community runs a lot of meetups and smaller groups around the world.
        </p>

        <p>
          Meetups are great ways to connect local communities! Want to run your own?
          Please get in touch so that we can help you!
        </p>

        <p>
          <a href="/community/meetups" class="button button-secondary">Learn More</a>
          <a href="#" class="button button-secondary">Register Your Meetup</a>
        </p>
      </div>
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/community-conferences.svg" alt="A person talking to a group of people"/>
          <h3>Conferences</h3>
        </div>

        <p>
          Rust has an active conference scene around the globe!
        </p>

        <p>
          <a href="/community/events" class="button button-secondary">Conferences</a>
        </p>

      </div>
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>RustBridge</h3>
        </div>
        <p>
          RustBridges are courses to get started with Rust!
        </p>

        <p>
          <a href="/community/rustbridge" class="button button-secondary">RustBridge</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="community-support">
  <div class="container">
    <header>
      <h2>Ways we support the Rust community!</h2>
      <div class="highlight highlight-purple"></div>
    </header>

    <div class="row">
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>community.rs</h3>
        </div>
        <p>
          We maintain a portal about all things community. It holds a blog and information about
          regular action.
        </p>

        <p>
          <a href="https://community.rs" class="button button-secondary">Visit community.rs</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Connecting</h3>
        </div>
        <p>
          The Rust community team is responsible for helping people to get in touch.
        </p>

        <p>
          Searching a speaker for your meetup? Trying to find people interested in
          a specific subject?
        </p>

        <p>
          <a href="mailto:community@rust-lang.org" class="button button-secondary">Send us an email</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Outreach and point of contact</h3>
        </div>

        <p>
          The Rust project works with other projects and is interested in new contacts. The community team acts
          as a point of contact!
        </p>

        <p>
          <a href="mailto:community@rust-lang.org?subject=Getting%20in%20touch" class="button button-secondary">Send us an email</a>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>content-o-tron: Help in Writing</h3>
        </div>
        <p>
          You'd like to write about Rust, but you would like some help? The content team helps you
          with copywriting and helps you setting up your blog!
        </p>

        <p>
          <a href="/community/content" class="button button-secondary">More</a>
          <a href="https://github.com/rust-community/rust-lang-blog-boilerplate" class="button button-secondary">Get started with your blog quickly!</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Promotion material</h3>
        </div>
        <p>
          Do you like stickers and swag? You'd like to promote Rust? You don't need to find us at conferences to get a bunch. All our material
          is openly accessible in our resources repository, you can just print your own!
        </p>

        <p>
          <a href="/community/content" class="button button-secondary">More</a>
          <a href="https://github.com/rust-community/resources" class="button button-secondary">Rust Resources</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>The video channel</h3>
        </div>
        <p>
          The Rust community team maintains a video channel that tries to collect as many videos about Rust as possible.
        </p>

        <p>
          It also contains videos of all recent conferences.
        </p>

        <p>
          <a href="https://youtube.com/c/rustvideos" class="button button-secondary">Rust Videos on YouTube</a>
          <!-- possibly make that a form? -->
          <a href="mailto:community@rust-lang.org?subject=Missing%20Video" class="button button-secondary">Report missing video</a>

        </p>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Community Surveys</h3>
        </div>
        <p>
          We plan and run the yearly community surveys.
        </p>

        <p>
          <a href="#" class="button button-secondary">To Last Survey</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Internationalisation</h3>
        </div>
        <p>
          We plan, consult and help out in internationalisation efforts!
        </p>

        <p>
          For example, you can translate this website!
        </p>

        <p>
          <a href="#" class="button button-secondary">i18n</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>The community calendar</h3>
        </div>
        <p>
          We are maintaining a calendar of all community events.
        </p>

        <p>
          <a href="mailto:community-team@rust-lang.org?subject=Calendar" class="button button-secondary">Get in touch about the calendar</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="community-teams">
  <div class="container">
    <header>
      <h2>Get involved!</h2>
      <div class="highlight highlight-red"></div>

      <p>The community team is an open team and happily allows new people to be involved. Don't hesitate to get in touch!</p>

    </header>
    <div class="row">
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>The Main Team</h3>
        </div>

        <p>
          This is the lead community team where we come up with community action and discuss our ideas.
        </p>

        <p>
          Sometimes, we form new subgroups for new topics.
        </p>

        <p>
          <a href="https://github.com/rust-community/team/" class="button button-secondary">Community team repository</a>
        </p>

      </div>
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Events Team</h3>
        </div>
        <p>
          The events team supports all kind of on-site events with knowledge and expertise.
        </p>

        <p>It is currently building support material for others to use.</p>

        <p>
          <a href="https://github.com/rust-community/events-team/" class="button button-secondary">Content team repository</a>
          <a href="https://github.com/rust-community/foss-events-planner/" class="button button-secondary">FOSS events planner</a>
          <a href="https://github.com/rust-community/rust-meetup-template" class="button button-secondary">Meetup website template</a>
        </p>
      </div>

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>RustBridge Team</h3>
        </div>
        <p>
          The RustBridge team plans and runs RustBridge workshops.
        </p>

        <p>
          <a href="/community/rustbridge" class="button button-secondary">RustBridge</a>
          <a href="https://github.com/rust-community/rustbridge" class="button button-secondary">RustBridge team repository</a>

        </p>
      </div>
    </div>
    <div class="row">

      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Survey Team</h3>
        </div>
        <p>
          The Survey team plans and launches the yearly and other surveys. It's an important group for knowing what happens around us.
        </p>
        <p>
          The Survey team can be contacted through the community team. Please note that the survey team may handle personal data,
          and not all team members get access to that.
        </p>
        <p>
          <a href="mailto:community@rust-lang.org?subject=Surveys" class="button button-secondary">Get in touch!</a>
        </p>
      </div>

       <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Internationalisation team</h3>
        </div>
        <p>
          The internationalisation (i18n for short) team manages translation efforts for Rust material.
        </p>
        <p>
          Please get in touch if you have experience and or just want to help out!
        </p>
        <p>
          <a href="mailto:community@rust-lang.org?subject=Internationalisation" class="button button-secondary">Get in touch!</a>
        </p>
      </div>


      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/question.svg" alt="?" />
          <h3>Your team</h3>
        </div>
        <p>
          Do you know about a subject the Rust project needs, but doesn't have? Please get in touch!
        </p>

        <p>
          <!-- Maybe change subject -->
          <a href="mailto:community@rust-lang.org?subject=Hey!" class="button button-secondary">Get in touch!</a>
        </p>
      </div>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
