{{#*inline "page"}}

<header>
  <h1>Community</h1>
</header>

<section id="get-in-touch">
  <h2>Get in touch!</h2>
  <p>We'd like to hear from you! We'll answer any question at <a href="mailto:community@rust-lang.org">community@rust-lang.org</a></p>
</section>

<section id="events">
  <h2>Meet</h2>
  <p>Many community members run meetups or conferences!</p>
  <h3><a href="/community/events">Learn More</a></h3>
</section>

<section id="content">
  <h2>Content</h2>
  <p>teaser copy</p>
  <h3><a href="/community/content">Learn More</a></h3>
</section>

<section id="online">
  <h2>Online</h2>
  <p>teaser copy</p>
  <h3><a href="/community/online">Learn More</a></h3>
</section>

<section id="rustbridge">
  <h2>Rust Bridge</h2>
  <p>teaser copy</p>
  <h3><a href="/learn/rustbridge">Learn More</a></h3>
</section>

{{/inline}}
{{~> (parent)~}}
