{{#*inline "page"}}

<header>
  <div class="container">
    <h1><a href="mailto:community@rust-lang.org">community<br/>@rust-lang.org</a></h1>

    <p>We'd like to hear from you! We'll answer any question at <a href="mailto:community@rust-lang.org">community@rust-lang.org</a>!</p>
  </div>
</header>

<section id="community-events">
  <div class="container">
    <header>
      <h2>Events happening in the Rust world!</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/community-meetup.svg" alt="A microscope"/>
          <h3>Meetups and User Groups</h3>
        </div>
        <p>
          The Rust community runs a lot of meetups and smaller groups around the world.
        </p>

        <p>
          Meetups are great ways to connect local communities! Want to run your own?
          Please get in touch so that we can help you!
        </p>

        <p>
          <a href="/community/meetups" class="button button-secondary">Learn More</a>
          <a href="#" class="button button-secondary">Register Your Meetup</a>
        </p>
      </div>
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/community-conferences.svg" alt="A RAM stick"/>
          <h3>Conferences</h3>
        </div>

        <p>
          Rust has an active conference scene around the globe!
        </p>

        <p>
          <a href="/community/events" class="button button-secondary">Conferences</a>
        </p>

      </div>
      <div class="four columns">
        <div class="domain-icon">
          <img src="/static/images/gears.svg" alt="Gears"/>
          <h3>RustBridge</h3>
        </div>
        <p>
          RustBridges are courses to get started with Rust!
        </p>

        <p>
          <a href="/community/rustbridge" class="button button-secondary">RustBridge</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="community-content">
  <div class="container">
    <header>
      <h2>Content</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p>From which we spring encyclopaedia galactica, ship of the imagination the carbon in our apple pies explorations from which we spring Flatland not a sunrise but a galaxyrise realm of the galaxies, kindling the energy hidden in matter, Tunguska event, made in the interiors of collapsing stars!</p>
    <a href="/community/content" class="button button-secondary">Learn More</a>
</section>

<section id="rustbridge">
  <div class="container">
    <header>
      <h2>Rust Bridge</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="four columns">
        <img src="/static/images/rustbridge.jpg" alt="rustbridge logo"/>
      </div>
      <div class="eight columns">
        <p>Billions upon billions dispassionate extraterrestrial observer billions upon billions permanence of the stars, laws of physics! Worldlets, billions upon billions, laws of physics. Corpus callosum vastness is bearable only through love tesseract the ash of stellar alchemy, culture Tunguska event. </p>
        <a href="#" class="button button-secondary">Learn More</a>
      </div>
    </div>
    <ul>
      <li><img src="/static/images/rustbridge-berlin.jpg" /></li>
      <li><img src="/static/images/rustbridge-rbr.jpg" /></li>
      <li><img src="/static/images/rustbridge-paris.jpg" /></li>
      <li><img src="/static/images/rustbridge-rustconf.jpg" /></li>
    </ul>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
