{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Meetups</h1>
    
    <h1 class="subtitle">A table and a glass of water, and we're talking.</h1>
  </div>
</header>

<section id="meetups-find">
  <div class="container">
    <header>
      <h2>Find a meetup!</h2>
      <div class="highlight highlight-red"></div>
    </header>
    
    <div class="description">
      <p>
        If you believe that everything is better in a group, meetups are the perfect way to go.
        Easy to setup and easy to visit.
      </p>
    </div>
    <div class="eight columns">
      <div class="code">
        <h3>The Community Calendar</h3>
        <p>
          The Rust Community Calendar is <em>the</em> central place in the Rust community to find out about events.
          pretty much all meetups can be found here!
        </p>
        <a href="#" class="button button-secondary">Look at the Calendar</a>
        <a href="mailto:community@rust-lang.org?subject=Adding%20Meetup" class="button button-secondary">Add your meetup!</a>
      </div>
      <div class="row media">
        <div class="six columns">
          <h3>The meetup map</h3>
          <p>The community team maintains a meetup map. Go there to find meetups, even historic ones.</p>
          <p>If there used to be one, why not get in touch?</p>
          <a href="https://community.rs/meetup-map" class="button button-secondary">The meetup map</a>
        </div>
        
        <div class="six columns">
          <h3>meetup.com</h3>
          <p>Many meetups are on meetup.com, so looking there may get you something, especially mixed meetups that do Rust.</p>
          <a href="https://meetup.com" class="button button-secondary">Go to meetup.com</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="meetups-start">
  <div class="container">
    <header>
      <h2>Start a meetup!</h2>
      <div class="highlight highlight-red"></div>
    </header>
    
    <div class="description">
      <p>
        Starting a meetup is easier then it sounds! It's a good way to get started with organising and also
        not proficient in Rust! Indeed, many of the largest user groups got created by beginners that wanted
        learn together.
      </p>

      <p>
        We're trying to help as much as we can and help you promiting your meetup.
      </p>
    </div>
  
    <div class="eight columns">
      <div class="code">
        <h3>Start your first meetup</h3>
        <p>
          Don't overthink it. Get a date and a place. If you know a speaker, ask them to do a talk.
          Otherwise, hold an intial meeting and try to figure out the style together with other people attending.
        </p>
      </div>
      <div class="row media">
        <div class="six columns">
          <h3>Hack &amp; Learn style</h3>
          <p>Hack &amp; Learns are open meetups where people bring their own projects or help others with theirs.
            They are very good for a group with a wide variety in skill, forstering collaboration and coaching.
          </p>
          <p>
            Also, they are very easy to run regularly, usually in a 1-2 week cycle.
          </p>
        </div>
        
        <div class="six columns">
          <h3>Talk meetups</h3>
          <p>
            The classic. Talks are always interesting and having people present their projects gives you a good
            glimpse into what happens in the community. They are great for getting advanced skill people interested.
          </p>

          <p>
            The drawback is that beginners might not be comfortable giving a talk or fear they can't follow the talk.
          </p>
        </div>

        <div class="six columns">
            <h3>Show &amp; Tell</h3>
            <p>
              Show &amp; Tells are a variation of the talk meetup, where people present their projects quickly,
              with an emphasis on showing the working product.
            </p>

            <p>
              They tend to have a lower barrier for beginners.
            </p>
          </div>
      </div>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
