<div class="row">
  <div class="three columns">
    <a href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust" target="_blank" rel="noopener"
       class="button button-secondary">VS Code</a>
  </div>
  <div class="three columns">
    <a href="https://github.com/rust-lang/rust-enhanced" target="_blank" rel="noopener"
       class="button button-secondary">Sublime Text 3</a>
  </div>
  <div class="three columns">
    <a href="https://github.com/rust-lang-nursery/atom-ide-rust" target="_blank" rel="noopener"
       class="button button-secondary">Atom</a>
  </div>
  <div class="three columns">
    <a href="https://plugins.jetbrains.com/plugin/8182-rust" target="_blank" rel="noopener"
       class="button button-secondary">IntelliJ IDEA</a>
  </div>
</div>
<div class="row">
  <div class="three columns">
    <a href="https://www.eclipse.org/downloads/packages/release/photon/r/eclipse-ide-rust-developers-includes-incubating-components" target="_blank" rel="noopener"
       class="button button-secondary">Eclipse</a>
  </div>
  <div class="three columns">
    <a href="https://github.com/rust-lang/rust.vim" target="_blank" rel="noopener"
       class="button button-secondary">Vim</a>
  </div>
  <div class="three columns">
    <a href="https://github.com/rust-lang/rust-mode" target="_blank" rel="noopener"
       class="button button-secondary">Emacs</a>
  </div>
</div>
