{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Tools</h1>
  </div>
</header>

<section id="tools-intro" class="green">
  <div class="container">
    <p>Rust has all the development tools you need to be highly productive. Our tooling makes the experience of writing, building, and debugging code quick and friction-free.</p>

    <p>Rust tools come to you. Whatever operating system, editor, or debugger you prefer, we aim to support it. Tools are configurable, with sensible defaults, meaning you can get up and going quickly, and customize tools to suit your workflow and programming style. And even if you want minimal tool support while you tinker on the command line, Rust gives you that flexibility.</p>

    <p>TODO need a link here or maybe links inline for how to install and run tools</p>

    <code class="code-header">rustup-init</code>

    <p>The ergonomics of our tools starts when you first install Rust. Rustup is a tool for installing and managing Rust, tools, and toolchains.</p>
  </div>
</section>

<section id="tools-write" class="white">
  <div class="container">
    <header>
      <h2>Write</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <br>
    <div class="tools-row">
      <div id="tools-write-ide-prose">
      <p>Rust has good and growing IDE and editor support. There are integrations available for Visual Studio Code, Eclipse, IntelliJ, Atom, Sublime Text, and more. We provide build and test integration, syntax highlighting, code completion, types and documentation, formatting, jump to definition, and more, all from your favorite editor.</p>
      </div>
    <img src="/static/images/ide.png" alt="'Find all references' in Visual Studio Code" id="tools-write-ide-img">
    </div>
    <div class="row">
      <div class="six columns" id="type-systems">
        <code class="code-header">cargo fmt</code>
        <p>Easy, beautiful, configurable. Never worry about formatting code or arguing about code style.</p>
      </div>
      <div class="six columns" id="linting">
        <code class="code-header">cargo doc</code>
        <p>Quickly and easily generate documentation for your code.</p>
      </div>
    </div>
  </div>
</section>

<section id="tools-build" class="red">
  <div class="container">
    <header>
      <h2>Build</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">
      <div class="four columns" id="type-systems">
        <code class="code-header">cargo build</code>
        <p>Cargo takes the hassle out of dependency management and building your project. Adding a dependency means adding a single line to the manifest. Build, run, test, or publish your project a single command and no extra configuration.</p>
      </div>
      <div class="four columns" id="linting">
        <code class="code-header">cargo clippy</code>
        <p>Powerful, reliable, and configurable linting; from style to safety and performance. Built with the Rust compiler, Clippy lets you catch even more bugs at compile-time.</p>
      </div>
      <div class="four columns" id="linting">
        <code class="code-header">cargo +aarch64-apple-ios build</code>
        <p>Rust runs on a multitude of platforms, from Windows, MacOS, and Linux on laptops, to IOS and Android on mobile phones, to Cortex-M micro-controllers. Rustup makes compiling for different platforms and operating systems streamlined and easy: installing platform-specific components and switching target platform are all simple commands.</p>
      </div>
    </div>
  </div>
</section>

<section id="tools-debug" class="purple">
  <div class="container">
    <header>
      <h2>Debug</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <br>
    <code class="code-header">rust-lldb</code>

    <p>Compiling Rust produces standard debugging information. That means all your tools for C or C++ will work with Rust. GDB, LLDB, Valgrind, profilers, code sanitizers, and more all work as expected with no extra configuration. We've added dedicated Rust support to popular debuggers to provide an even better experience.</p>
  </div>
</section>

<section id="tools-outro" class="green">
  <div class="container">
    <p>Rust's driving principles of openness and community-led innovation guide Rust's tooling. Data from the compiler and Cargo is easy to access and straightforward to understand. Integrating Rust tools with in-house or bespoke systems is well-supported.</p>

    <p>Rust tooling has a dedicated team and an active community. We're always innovating, recently adding WASM support (WASM <a href="https://hacks.mozilla.org/2018/04/hello-wasm-pack/">pack</a> and <a href="https://rustwasm.github.io/wasm-bindgen/introduction.html">bindgen</a>), code search (<a href="https://sourcegraph.com/search?q=repogroup:crates+">Sourcegraph</a>, <a href="https://github.com/nrc/cargo-src">cargo-src</a>), and semver checking (<a href="https://github.com/rust-lang-nursery/rust-semverver">rust-semverver</a>).</p>
  </div>
</section>


{{/inline}}
{{~> (parent)~}}
