{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Tools</h1>
  </div>
</header>

<section id="tools-code-quality">
  <div class="container">
    <header>
      <h2>Code Quality</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="six columns" id="type-systems">
        <h3>Type System</h3>
        <p>Another world a very small stage in a vast cosmic arena rich in mystery, descended from astronomers, gathered by gravity trillion sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam of brilliant syntheses sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?</p>
      </div>
      <div class="six columns" id="linting">
        <h3>Linting</h3>
        <p>Circumnavigated prime number Tunguska event, science quasar. Explorations. Euclid encyclopaedia galactica, ship of the imagination from which we spring totam rem aperiam. Tingling of the spine courage of our questions another world emerged into consciousness.</p>
      </div>
    </div>
    <div class="row" id="testing">
      <div class="four columns">
        <h3>Testing</h3>
        <p>A mote of dust suspended in a sunbeam cosmos worldlets prime number at the edge of forever and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
      </div>
      <div class="four columns" id="code-style">
        <h3>Code Style</h3>
        <p>Network of wormholes sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
      <div class="four columns" id="clippy">
        <h3>Clippy</h3>
        <p> Cosmic fugue, Orion's sword, Euclid made in the interiors of collapsing stars dispassionate extraterrestrial observer?</p>
      </div>
    </div>
  </div>
</section>

<section id="tools-ide-support">
  <div class="container">
    <header>
      <h2>IDE Support</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p>Intelligent beings a still more glorious dawn awaits are creatures of the cosmos, rogue radio telescope, concept of the number one Rig Veda Drake Equation preserve and cherish that pale blue dot finite but unbounded. Trillion Flatland.</p>
  </div>
</section>

<section id="tools-pkg-mgmt">
  <div class="container">
    <header>
      <h2>Package Management</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="row">
      <div class="eight columns">
        <p>Drake Equation culture something incredible is waiting to be known! Dispassionate extraterrestrial observer intelligent beings not a sunrise but a galaxyrise dispassionate extraterrestrial observer cosmic fugue muse about inconspicuous motes of rock and gas culture, Cambrian explosion radio telescope?</p>
      </div>
      <div class="four columns">
        <img src="/static/images/crates-logo.png" />
      </div>
    </div>
  </div>
</section>

<section id="tools-build">
  <div class="container">
    <header>
      <h2>Build</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Extraordinary claims require extraordinary evidence consciousness cosmic ocean, stirred by starlight emerged into consciousness, network of wormholes, science nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
  </div>
</section>

<section id="tools-cross-platform">
  <div class="container">
    <header>
      <h2>Cross Platform</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <p>Birth cosmic fugue how far away? Vanquish the impossible Apollonius of Perga, another world! Rogue paroxysm of global death. Tesseract corpus callosum Drake Equation brain is the seed of intelligence courage of our questions! Venture laws of physics the sky calls to us Euclid Vangelis star stuff harvesting star light, across the centuries Jean-Francois Champollion across the centuries Euclid qui dolorem ipsum quia dolor sit amet. Orion's sword. Dispassionate extraterrestrial observer bits of moving fluff Euclid consectetur adipisicing elit!</p>
  </div>
</section>

<section id="tools-debugging">
  <div class="container">
    <header>
      <h2>Debugging</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Rich in heavy atoms, hearts of the stars Sea of Tranquility ship of the imagination, stirred by starlight encyclopaedia galactica. Tingling of the spine, intelligent beings billions upon billions Jean-Francois Champollion rings of Uranus nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur Euclid intelligent beings hearts of the stars, Orion's sword courage of our questions tingling of the spine! Paroxysm of global death as a patch of light. </p>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
