<div class="row">
  <div id="platform-instructions-unix" class="instructions" style="display: block;">
    <p>It looks like you’re running macOS, Linux, or another Unix-like OS. To download Rustup and install Rust, run the following in your terminal, then follow the on-screen instructions.</p>
    <pre><code>curl https://sh.rustup.rs -sSf | sh</code></pre>
  </div>
  <div id="platform-instructions-win" class="instructions" style="display: none;">
    <p>It looks like you’re running Windows. To install Rust, download and run</p>
    <a href="https://win.rustup.rs" class="button button-secondary">rustup‑init.exe</a>
    <p>...then follow the onscreen instructions.</p>
    <p><b>Windows Subsystem for Linux</b></p>
    <p>If you’re a Windows Subsystem for Linux user run the following in your terminal, then follow the on-screen instructions to install Rust.</p>
    <pre><code>curl https://sh.rustup.rs -sSf | sh</code></pre>
  </div>
  <div id="platform-instructions-unknown" class="instructions" style="display: none;">
    <!-- unrecognized platform: ask for help -->
    <p>
      Rust runs on Windows, Linux, macOS, FreeBSD and NetBSD. If
      you are on one of these platforms and are seeing this then please
      report an issue with the following values:
    </p>
    <div class="install-details code">
      <div>navigator.platform:
        <span id="nav-plat">MacIntel</span>
      </div>
      <div>navigator.appVersion:
        <span id="nav-app">5.0 (Macintosh)</span>
      </div>
    </div>
    <br/>
    <a href="https://github.com/rust-lang/wubwub/issues/new" class="button button-secondary">Report an Issue</a>
    <hr/>
    <div>
      <p>
        To install Rust, if you are running Unix,<br>run the following
        in your terminal, then follow the on-screen instructions.
      </p>
      <code>curl https://sh.rustup.rs -sSf | sh</code>
    </div>
    <hr>
    <div>
      <p>
        If you are running Windows,<br>download and run
        <a href="https://win.rustup.rs">rustup‑init.exe</a>
        then follow the on-screen instructions.
      </p>
    </div>
  </div>
  <div id="platform-instructions-default" class="instructions" style="display: none;">
    <div>
      <p>
        To install Rust, if you are running Unix,<br>run the following
        in your terminal, then follow the on-screen instructions.
      </p>
      <code>curl https://sh.rustup.rs -sSf | sh</code>
    </div>
    <hr>
    <div>
      <p>
        If you are running Windows,<br>download and run
        <a href="https://win.rustup.rs">rustup‑init.exe</a>
        then follow the on-screen instructions.
      </p>
    </div>
  </div>
</div>
