{{#*inline "page"}}

<header>
  <h1>Getting Started</h1>
</header>

<section>
  <p>teach people how to get rust installed</p>
</section>

<section>
  <a href="/tools/rustup">rustup</a>
  <a href="/tools/cargo">Cargo</a>
  <a href="/learn">Learn more</a>
</section>

{{/inline}}
{{~> (parent)~}}
