{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Learn Rust</h1>
  </div>
</header>

<section id="learn-begin">
  <div class="container">
    <header>
      <h2>From the beginning</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="eight columns" id="the-book">
        <p>Affectionately nicknamed "the book," <a href="https://doc.rust-lang.org/book/">The Rust Programming
            Language</a> will give you an overview of the language from first
          principles. You'll build a few projects along the way, and by the
          end, you'll have a solid grasp of the language.</p>
        <p>If reading multiple hundreds of pages about a language isn't your
          style, then <a href="https://doc.rust-lang.org/rust-by-example/">Rust
            By Example</a> has you covered. While the book talks about code with
          a lot of words, RBE shows off a bunch of code, and keeps the talking
          to a minimum. It also includes exercises!</p>
      </div>
      <div class="four columns">
        <img src="http://via.placeholder.com/350x200">
      </div>
    </div>
  </div>
</section>

<section id="learn-use">
  <div class="container">
    <header>
      <h2>Use Rust</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Go beyond the basics &mdash; these resources help you use Rust day-to-day.</p>
    <div class="row">
      <h3>Read the core documentation</h3>
      <div class="row">
        <div class="three columns">
          <a href="https://doc.rust-lang.org/std/index.html">The standard library</a>
        </div>
        <div class="eight columns">
          Comprehensive guide to <code>std</code> APIs.
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <a href="https://doc.rust-lang.org/cargo/index.html">Cargo</a>
        </div>
        <div class="eight columns">
          A book on Rust's package manager and build system.
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <a href="https://doc.rust-lang.org/rustdoc/index.html"><code>rustdoc</code> Book</a>
        </div>
        <div class="eight columns">
          Learn how to make awesome documentation for your crate.
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <a href="https://doc.rust-lang.org/rustc/index.html"><code>rustc</code> Book</a>
        </div>
        <div class="eight columns">
          Familiarize yourself with the knobs available in the Rust compiler.
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <a href="https://doc.rust-lang.org/error-index.html">The
            error code index</a>
        </div>
        <div class="eight columns">
          In-depth explanations of the errors you may see from the Rust compiler.
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Build your skills in an application domain</h3>
      <div class="row">
        <div class="three columns domain" id="cli-guide">
          <img src="/static/images/cli.svg" />
          <h4>Command Line Guide</h4>
        </div>
        <div class="three columns domain" id="webassembly-guide">
          <img src="/static/images/webassembly.svg" />
          <h4>WebAssembly Guide</h4>
        </div>
        <div class="three columns domain" id="networking-guide">
          <img src="/static/images/networking.svg" />
          <h4>Networking Guide</h4>
        </div>
        <div class="three columns domain" id="embedded-guide">
          <img src="/static/images/embedded.svg" />
          <h4>Embedded Guide</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="learn-master">
  <div class="container">
    <header>
      <h2>Master Rust</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <p>Curious about the darkest corners of the language? Here's where you can get into the nitty-gritty:</p>
    <div class="row">
      <div class="four columns book" id="the-reference">
        <img src="/static/images/reference.svg" />
        <p><a href="https://doc.rust-lang.org/reference/index.html">The Reference</a> is not a formal spec, but is more
          detailed and comprehensive than the book.</p>
      </div>
      <div class="four columns book" id="rustonomicon">
        <img src="/static/images/nomicon.svg" />
        <p><a href="https://doc.rust-lang.org/nomicon/index.html">The Rustonomicon</a> is your guidebook to the dark
          arts of unsafe Rust. It's also sometimes called "the 'nomicon."</p>
      </div>
      <div class="four columns book" id="the-unstable-book">
        <img src="/static/images/unstable.svg" />
        <p><a href="https://doc.rust-lang.org/unstable-book/index.html">The Unstable Book</a> has documentation for
          unstable features that you can only use with nightly Rust.</p>
      </div>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
