{{#*inline "page"}}

<header>
  <div class="header-text">
    <div>
      <h1>Learn Rust!</h1>
      <h2>From "Hello, World!" to "The world is mine"</h2>
    </div>
    <div>
      <p>Lookit me, i'm the playpen!</p>
    </div>
  </div>
</header>

<section id="learn-community">
  <h2>Featured Community Content</h2>
  <p>Here's some excellent content from our great community!</p>
  <ul>
    <li>We're No Strangers To Love</li>
    <li>You Know The Rules, And So Do I</li>
  </ul>
</section>

<section id="learn-learn">
  <h2>Learn Rust</h2>
  <p>Just getting started? Here are some resources that will help you get your feet wet.</p>
  <ul>
    <li>The Rust Programming Language</li>
    <li>Rust By Example</li>
  </ul>
</section>

<section id="learn-use">
  <h2>Use Rust</h2>
  <p>Know your way around the langauge, but wanting some ideas for what to use it on? Check these out:</p>
  <ul>
    <li>The Cargo Book</li>
    <li>The Rustdoc Book</li>
    <li>Rust FFI Omnibus</li>
    <li>(Working Group stuff...?)</li>
  </ul>
</section>

<section id="learn-master">
  <h2>Master Rust</h2>
  <p>Curious about the darkest corners of the language? Here's where you can get into the nitty-gritty.</p>
  <ul>
    <li>The Rust Reference</li>
    <li>The Rustonomicon</li>
    <li>The Little Book of Rust Macros</li>
  </ul>
</section>

<section>
  <h2><a href="learn/bookshelf">Bookshelf</a></h2>
  <h2><a href="learn/rustbridge">Rust Bridge</a></h2>
  <h2><a href="learn/resources">Resources</a></h2>
</section>

{{/inline}}
{{~> (parent)~}}
