{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Learn Rust</h1>
  </div>
</header>

<section id="learn-begin" class="green">
  <div class="center flex flex-column mw9 w-100 pa3">
    <header>
      <h2>Get Started with Rust</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l justify-between">
      <section class="pt0">
        <p>Affectionately nicknamed "the book," <a href="https://doc.rust-lang.org/book/">The Rust Programming
            Language</a> will give you an overview of the language from first
          principles. You'll build a few projects along the way, and by the
          end, you'll have a solid grasp of the language.</p>
          <a class="button button-secondary" href="https://doc.rust-lang.org/book/">Read the Book!</a>
      </section>
      <section class="pl5-l pt4 pt0-l">
        <p>If reading multiple hundreds of pages about a language isn't your
          style, then <a href="https://doc.rust-lang.org/rust-by-example/">Rust
            By Example</a> has you covered. While the book talks about code with
          a lot of words, RBE shows off a bunch of code, and keeps the talking
          to a minimum. It also includes exercises!</p>
          <a class="button button-secondary" href="https://doc.rust-lang.org/book/">Check out Rust by example</a>
      </section>
    </div>
  </div>
</section>

<section id="learn-use" class="white">
  <div class="container">
    <header>
      <h2 class="black">
        Grow with Rust
      </h2>
      <div class="highlight"></div>
    </header>
    <div class="row black">
      <h3>Read the core documentation</h3>
      <p>All of this documentation is also available locally using the
        <code>rustup doc</code> command, which will open up these resources for
        you in your browser without requiring a network connection!</p>

      <section class="flex flex-column">
        <div class="pt3 flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/std/index.html"
             class="button button-secondary mw6-l w-100">The standard library</a>
          <p class="pl4-l">
            Comprehensive guide to the Rust standard library APIs.
          </p>
        </div>

        <div class="pt5 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/cargo/index.html"
             class="button button-secondary mw6-l w-100">Cargo Book</a>
          <p class="pl4-l">
            A book on Rust's package manager and build system.
          </p>
        </div>

        <div class="pt5 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/rustdoc/index.html"
             class="button button-secondary mw6-l w-100">rustdoc Book</a>
          <p class="pl4-l">
            Learn how to make awesome documentation for your crate.
          </p>
        </div>

        <div class="pt5 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/rustc/index.html"
             class="button button-secondary mw6-l w-100">rustc Book</a>
          <p class="pl4-l">
            Familiarize yourself with the knobs available in the Rust compiler.
          </p>
        </div>

        <div class="pt5 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/error-index.html"
             class="button button-secondary mw6-l w-100">Compiler Error Index</a>
          <p class="pl4-l">
            In-depth explanations of the errors you may see from the Rust
            compiler.
          </p>
        </div>
      </section>
    </div>
    <br/>
    <br/>
    <hr/>
    <div class="row black">
      <h3>Build your skills in an application domain</h3>
      <div class="row">
        <div class="three columns domain" id="cli-guide">
          <img src="/static/images/cli.svg" />
          <p>
            Learn how to build effective command line applications in Rust.
          </p>
          <a href="https://rust-lang-nursery.github.io/cli-wg/"
             class="button button-secondary">Command Line Book</a>
        </div>
        <div class="three columns domain" id="webassembly-guide">
          <img src="/static/images/webassembly.svg" />
          <p>
            Use Rust to build browser-native libraries through WebAssembly.
          </p>
          <a href="https://rustwasm.github.io/book/"
             class="button button-secondary">WebAssembly Book</a>
        </div>
        <div class="three columns domain" id="networking-guide">
          <img src="/static/images/networking.svg" />
          <p>
            Learn how to write asynchronous code that maximizes resource
            efficiency.
          </p>
          <a href="#" class="button button-secondary">Networking Book</a>
        </div>
        <div class="three columns domain" id="embedded-guide">
          <img src="/static/images/embedded.svg" />
          <p>
            Become proficient with Rust for Microcontrollers and other embedded
            systems.
          </p>
          <a href="https://rust-embedded.github.io/book/"
             class="button button-secondary">Embedded Book</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="learn-master" class="purple">
  <div class="container">
    <header>
      <h2>Master Rust</h2>
      <div class="highlight"></div>
    </header>
    <p>Curious about the darkest corners of the language? Here's where you can get into the nitty-gritty:</p>
    <div class="row">
      <div class="four columns book" id="the-reference">
        <img src="/static/images/reference.svg" />
        <p>The Reference is not a formal spec, but is more
          detailed and comprehensive than the book.</p>
        <a class="button button-secondary" href="https://doc.rust-lang.org/reference/index.html">Read the reference</a>
      </div>
      <div class="four columns book" id="rustonomicon">
        <img src="/static/images/nomicon.svg" />
        <p>The Rustonomicon is your guidebook to the dark
          arts of unsafe Rust. It's also sometimes called "the 'nomicon."</p>
        <a class="button button-secondary" href="https://doc.rust-lang.org/nomicon/index.html">Read the nomicon</a>
      </div>
      <div class="four columns book" id="the-unstable-book">
        <img src="/static/images/unstable.svg" />
        <p>The Unstable Book has documentation for
          unstable features that you can only use with nightly Rust.</p>
        <a class="button button-secondary" href="https://doc.rust-lang.org/unstable-book/index.html">Read the unstable book</a>
      </div>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
