{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Learn Rust!</h1>
    <h2>From "Hello, World!" to "The world is mine"</h2>
  </div>
</header>

<section id="learn-begin">
  <div class="container">
    <header>
      <h2>From the beginning</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <div class="row">
      <div class="eight columns">
        <p>Affectionately nicknamed "the book," <a
        href="https://doc.rust-lang.org/book/">The Rust Programming
        Language</a> will give you an overview of the language from first
        principles. You'll build a few projects along the way, and by the
        end, you'll have a solid grasp of the language.</p>

        <hr />

        <p>If reading multiple hundreds of pages about a language isn't your
        style, then <a href="https://doc.rust-lang.org/rust-by-example/">Rust
        By Example</a> has you covered. While the book talks about code with
        a lot of words, RBE shows off a bunch of code, and keeps the talking
        to a minimum. It also includes exercises!</p>
      </div>
      <div class="four columns">
        <h4>The playpen</h4>
        <p>We need some work to get the playpen going here.</p>
      </div>
    </div>
  </div> 
</section>

<section id="learn-use">
  <div class="container">
    <header>
      <h2>Use Rust</h2>
      <div class="highlight highlight-green"></div>
      <p>Once you've gotten familliar with the basics of the language, these
      resources can help you increase your knowledge and help you when you're
      actually using Rust day-to-day.</p>
    </header>
    <div class="row">
      <div class="six columns">
        <h4>Improve your skills!</h4>
        <p>This stuff can take you to the next level:</p>
        <p>WG books go here</p>
      </div>
      <div class="six columns">
        <h4>Helpful References</h4>
        <p>Here's some reference material you'll find useful when writing Rust.</p>
        <ul>
          <li>The <a href="https://doc.rust-lang.org/std/index.html">Standard Library documentation</a> describes the functionality of Rust's standard library.</li>
          <li>The <a href="https://doc.rust-lang.org/cargo/index.html">Cargo Book</a> will show you all the ins and outs of Rust's package manager and build system.</li>
          <li>The <a href="https://doc.rust-lang.org/rustdoc/index.html"><code>rustdoc</code> Book</a> will help you make awesome documentation for your crates.</li>
          <li>The <a href="https://doc.rust-lang.org/rustc/index.html"><code>rustc</code> Book</a> describes the usage of the Rust compiler.</li>
          <li>If you've got an error, you can also check out the <a href="https://doc.rust-lang.org/error-index.html">Extended Error Code Index</a>.</li>
        </ul>
      </div>
  </div>
</section>

<section id="learn-master">
  <div class="container">
    <header>
      <h2>Master Rust</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Curious about the darkest corners of the language? Here's where you can get into the nitty-gritty.</p>
    <p><a href="https://doc.rust-lang.org/reference/index.html">The
    Reference</a> is not a formal spec, but is more detailed and
    comprehensive than the book.</p>
    <hr />
    <p><a href="https://doc.rust-lang.org/nomicon/index.html">The
    Rustonomicon</a> is your guidebook to the dark arts of unsafe Rust. It's
    also sometimes called "the 'nomicon."</p>
    <hr />
    <p><a href="https://doc.rust-lang.org/unstable-book/index.html">The
    Unstable Book</a> has documentation for unstable features that you can only use with nightly Rust.</p>
  </div>
</section>

<section id="learn-community">
  <div class="container">
    <header>
      <h2>Featured Community Content</h2>
      <div class="highlight highlight-purple"></div>
    </header>
    <p>Here's some excellent resources from our great community!</p>
    <ul>
      <li>We're No Strangers To Love</li>
      <li>You Know The Rules, And So Do I</li>
    </ul>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}