{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Learn Rust</h1>
  </div>
</header>

<section id="learn-begin" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Get started with Rust</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l justify-between">
      <section class="pt0">
        <p>Affectionately nicknamed “the book,” <cite>The Rust Programming
          Language</cite> will give you an overview of the language from first
          principles. You’ll build a few projects along the way, and by the end,
          you’ll have a solid grasp of the language.</p>
          <a class="button button-secondary" href="https://doc.rust-lang.org/book/">Read the Book!</a>
      </section>
      <section class="pl5-l pt4 pt0-l">
        <p>If reading multiple hundreds of pages about a language isn’t your
          style, then Rust By Example has you covered. While the book talks
          about code with a lot of words, RBE shows off a bunch of code, and
          keeps the talking to a minimum. It also includes exercises!</p>
          <a class="button button-secondary" href="https://doc.rust-lang.org/stable/rust-by-example/">Check out Rust by example</a>
      </section>
    </div>
  </div>
</section>

<section id="learn-use" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2 class="black">
        Grow with Rust
      </h2>
      <div class="highlight"></div>
    </header>
    <div class="row black">
      <h3>Read the core documentation</h3>
      <p>All of this documentation is also available locally using the
        <code>rustup doc</code> command, which will open up these resources for
        you in your browser without requiring a network connection!</p>

      <section class="flex flex-column">
        <div class="pt3 flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/std/index.html" target="_blank" rel="noopener"
             class="button button-secondary mw6-l w-100">The standard library</a>
          <p class="pl4-l">
            Comprehensive guide to the Rust standard library APIs.
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/cargo/index.html" target="_blank" rel="noopener"
             class="button button-secondary mw6-l w-100">Cargo Book</a>
          <p class="pl4-l">
            A book on Rust’s package manager and build system.
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/rustdoc/index.html" target="_blank" rel="noopener"
             class="button button-secondary mw6-l w-100">rustdoc Book</a>
          <p class="pl4-l">
            Learn how to make awesome documentation for your crate.
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/rustc/index.html" target="_blank" rel="noopener"
             class="button button-secondary mw6-l w-100">rustc Book</a>
          <p class="pl4-l">
            Familiarize yourself with the knobs available in the Rust compiler.
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l">
          <a href="https://doc.rust-lang.org/error-index.html" target="_blank" rel="noopener"
             class="button button-secondary mw6-l w-100">Compiler Error Index</a>
          <p class="pl4-l">
            In-depth explanations of the errors you may see from the Rust
            compiler.
          </p>
        </div>
      </section>
    </div>
    <hr/>
    <div class="row black">
      <h3>Build your skills in an application domain</h3>
        <section class="flex flex-column">
          <div class="pt3 flex flex-column flex-row-l">
            <a href="https://rust-lang-nursery.github.io/cli-wg/" target="_blank" rel="noopener"
               class="button button-secondary mw6-l w-100">
              Command Line Book
            </a>
            <p class="pl4-l">
              Learn how to build effective command line applications in Rust.
            </p>
          </div>

          <div class="pt4 pt3-l flex flex-column flex-row-l">
            <a href="https://rustwasm.github.io/book/" target="_blank" rel="noopener"
               class="button button-secondary mw6-l w-100">
              WebAssembly Book
            </a>
            <p class="pl4-l">
              Use Rust to build browser-native libraries through WebAssembly.
            </p>
          </div>

          <div class="pt4 pt3-l flex flex-column flex-row-l">
            <a href="https://rust-embedded.github.io/book/"
               class="button button-secondary mw6-l w-100">
              Embedded Book
            </a>
            <p class="pl4-l">
              Become proficient with Rust for Microcontrollers and other
              embedded systems.
            </p>
          </div>

        </section>
      </div>
    </div>
  </div>
</section>

<section id="learn-master" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Master Rust</h2>
      <div class="highlight"></div>
    </header>
    <p>Curious about the darkest corners of the language? Here’s where you can get into the nitty-gritty:</p>
    <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv4 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/reference.svg" alt="A bookshelf icon"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>The Reference is not a formal spec, but is more detailed and
            comprehensive than the book.</p>
          <a class="button button-secondary"
             href="https://doc.rust-lang.org/reference/index.html">
            Read the reference
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv4 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/nomicon.svg" alt="Two hands cradling fire"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p> The Rustonomicon is your guidebook to the dark
            arts of unsafe Rust. It’s also sometimes called “the ’nomicon.”</p>

          <a class="button button-secondary"
             href="https://doc.rust-lang.org/nomicon/index.html">
            Read the ’nomicon
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv3 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/unstable.svg" alt="A hand sharing sparkles"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>The Unstable Book has documentation for unstable features that you
            can only use with nightly Rust.</p>
          <a class="button button-secondary"
             href="https://doc.rust-lang.org/unstable-book/index.html">
            Read the unstable book
          </a>
        </div>
      </div>

    </section>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
