{{#*inline "page"}}
<header>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex-none flex-l mt5 mb5 tc tl-l">
      <div class="w-70-l w-100">
        <h1>{{fluent "error404-page-title"}}</h1>
        <h2 class="subtitle">{{fluent "error404-subtitle"}}</h2>
      </div>
      <div class="w-30-l w-100 mt5 mt0-l">
        <img id="ferris-error" src="/static/images/ferris-error.png" alt='{{fluent "error404-img-alt"}}'>
      </div>
    </div>
  </div>
</header>

{{/inline}}
{{~> (lookup this "parent")~}}
