{{#*inline "page"}}
<header>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h1>404</h1>
        <h1 class="subtitle">Whoops, this page doesn't exist :-(</h1>
      </div>
      <div class="four columns">
        <img id="ferris-error" src="/static/images/ferris-error.png" alt="404 not found image">
      </div>
    </div>
  </div>
</header>

{{/inline}}
{{~> (parent)~}}
