<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="row">
      <div class="four columns mt3 mt0-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="https://doc.rust-lang.org" target="_blank" rel="noopener">Documentation</a></li>
          <li><a href="mailto:core-team@rust-lang.org">Contact the Rust Team</a></li>
          <li><a href="http://ping.rust-lang.org">Check Website Status</a></li>
        </ul>
        <div class="languages">
          {{> languages-dropdown }}
        </div>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Terms and policies</h4>
        <ul>
          <li><a href="/policies/code-of-conduct">Code of Conduct</a></li>
          <li><a href="/policies/licenses">Licenses</a></li>
          <li><a href="/policies/media-guide">Logo Policy and Media Guide</a></li>
          <li><a href="/policies/security">Security Disclosures</a></li>
          <li><a href="/policies">All</a></li>
        </ul>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Social</h4>
        <a href="https://twitter.com/rustlang" target="_blank" rel="noopener" alt="twitter link"><img src="/static/images/twitter.svg" alt="twitter logo" title="Twitter"/></a>
        <a href="https://www.youtube.com/channel/UCaYhcUwRBNscFNUKTjgPFiA" target="_blank" rel="noopener" alt="youtube link"><img style="padding-top: 6px; padding-bottom:6px" src="/static/images/youtube.svg" alt="youtube logo" title="YouTube"/></a>
        <a href="https://discord.gg/rust-lang" target="_blank" rel="noopener" alt="discord link"><img src="/static/images/discord.svg" alt="discord logo" title="Discord"/></a>
        <a href="https://github.com/rust-lang" target="_blank" rel="noopener" alt="github link"><img src="/static/images/github.svg" alt="github logo" title="GitHub"/></a>
      </div>

    </div>
    <div class="attribution">
      <p>
        Maintained by the Rust Team. See a typo?
        <a href="https://github.com/rust-lang/beta.rust-lang.org" target="_blank" rel="noopener">Send a fix here</a>!
      </p>
      <p>Looking for the <a href="https://prev.rust-lang.org">previous website?</a></p>
    </div>
  </div>
</footer>
