<footer>
  <div class="container">
    <div class="row">
      <div class="four columns" id="get-help">
        <h4>Get Help!</h4>
        <ul>
          <li><a href="https://doc.rust-lang.org">The Rust Bookshelf</a></li>
          <li><a href="mailto:core-team@rust-lang.org">Contact the Rust Team</a></li>
        </ul>
        <div class="languages">
          {{> languages-dropdown }}
        </div>
      </div>
      <div class="four columns" id="terms-and-policies">
        <h4>Terms and Policies</h4>
        <ul>
          <li><a href="/policies/code-of-conduct">Code of Conduct</a></li>
          <li><a href="/policies/licenses">Licenses</a></li>
          <li><a href="/policies/media-guide">Logo Policy and Media Guide</a></li>
          <li><a href="/policies/security">Security Disclosures</a></li>
          <li><a href="/policies">All</a></li>
        </ul>
      </div>
      <div class="four columns" id="rust-social">
        <h4>Social</h4>
        <a href="https://twitter.com/rustlang"><img src="/static/images/twitter.svg" /></a>
        <a href="https://www.youtube.com/channel/UCaYhcUwRBNscFNUKTjgPFiA"><img src="/static/images/youtube.svg" /></a>
        <a href="https://discord.gg/rust-lang"><img src="/static/images/discord.svg" /></a>
        <a href="https://github.com/rust-lang"><img src="/static/images/github.svg" /></a>
      </div>

    </div>
    <div class="attribution">
      Maintained by the Rust Team. See a typo? Send a fix
      <a href="https://github.com/rust-lang/wubwub">here</a>!
    </div>
  </div>
</footer>
