<footer>
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h4>Get Help!</h4>
        <ul>
          <li><a href="#">The Rust Bookshelf</a></li>
          <li><a href="#">Contact the Rust Team</a></li>
        </ul>
      </div>
      <div class="four columns">
        <h4>Terms and Policies</h4>
        <ul>
          <li><a href="#">Code of Conduct</a></li>
          <li><a href="#">License</a></li>
          <li><a href="#">Logo Policy and Media Guide</a></li>
          <li><a href="#">Security Disclosures</a></li>
        </ul>
      </div>
      <div class="four columns">
        <h4>Social</h4>
        <a href="#"><img src="/static/images/twitter.svg"/></a>
        <a href="#"><img src="/static/images/youtube.svg"/></a>
        <a href="#"><img src="/static/images/discord.svg"/></a>
        <a href="#"><img src="/static/images/github.svg"/></a>
      </div>
    </div>
    <div class="attribution">
      Maintained by the Rust Team. See a typo? Send a fix <a href="#">here</a>!
      <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </div> 
</footer>
