{{#*inline "page"}}
<header>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h1>RUST</h1>
        <h1 class="subtitle">A systems programming language</strong> that runs blazingly fast and guarantees thread safety</h1>
      </div>
      <div class="four columns">
        <a class="button button-primary" href="#">
          <span>DOWNLOAD</span><br/>
          <span>v. 1.2.4</span>
        </a>
      </div>
    </div>
  </div>
</header>

<section class="domains">
  <div class="container">
    <header>
      <h2>Build it in Rust</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/cli.svg"/>
          <a href="/what/cli"><h3>Command Line</h3></a>
        </div>
        <p>
          This is written in the train from Varna to Galatz. Last night we all assembled a little before the time of sunset.
        </p>
      </div>
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/webassembly.svg"/>
          <a href="/what/wasm"><h3>Web Assembly</h3></a>
        </div>
        <p>
          Each of us had done his work as well as he could; so far as thought, and endeavour, and opportunity go, we are prepared for the whole of our journey, and for our work when we get to Galatz.
        </p>
      </div>
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/networking.svg" />
          <a href="/what/server"><h3>Networking</h3></a>
        </div>
        <p>
          When the usual time came round Mrs. Harker prepared herself for her hypnotic effort; and after a longer and more serious effort on the part of Van Helsing than has been usually necessary, she sank into the trance
        </p>
      </div>
      <div class="three columns">
        <div class="domain-icon">
          <img src="/static/images/embedded.svg"/>
          <a href="/what/embedded"><h3>Embedded</h3></a>
        </div>
        <p>
          Usually she speaks on a hint; but this time the Professor had to ask her questions, and to ask them pretty resolutely, before we could learn anything; at last her answer came
        </p>
      </div>
    </div>
  </div>
</section>


<section class="production">
  <div class="container">
    <header>
      <h2>Rust in Production</h2>
      <div class="highlight highlight-red"></div>
    </header>
    <div class="description">
      <p>
        Over a hundred companies around the world are using Rust in production
        <strong>today</strong> for fast, low resource, cross-platform solutions. Software you know
        and love, such as the Firefox web browser and Dropbox, uses Rust. From startups to large
        corporations, from embedded devices to scalable web services, Rust is a great fit.
      </p>
      <a href="#" class="button button-secondary">
          <strong>Learn more</strong>
      </a>
    </div>
    <div class="testimonials">
      <div class="testimonial row">
        <div class="four columns">
          <img src="/static/images/user-logos/tilde.png" alt="Tilde Logo"/>
        </div>
        <div class="eight columns">
          <blockquote>
            We've never made a programming error in Rust code that has caused a segfault that our users have reported.
          </blockquote>
          <p class="attribution">- Yehuda Katz, CTO</p>
        </div>
      </div>
      <div class="testimonial row">
        <div class="eight columns">
          <blockquote>
            Rust is one of the few languages that really gives you a large amount of confidence that your parallel and concurrent code is anywhere near correct.
          </blockquote>
          <p class="attribution">- Catherine West, Technical Lead</p>
        </div>
        <div class="four columns">
          <img src="/static/images/user-logos/chucklefish.png" alt="Chucklefish Logo" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="get-involved">
  <div class="container">
    <header>
      <h2>Get Involved</h2>
      <div class="highlight highlight-green">
    </header>
  </div>
</section>
{{/inline}}
{{~> (parent)~}}
