{{#*inline "page"}}
<header class="mt3 mt0-ns mb6-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw8-l">
      <h1>{{text "rust"}}</h1>
      <h2 class="mt4 f2 f1-ns">
        A language empowering everyone<br class="dn db-ns">
        to build reliable and efficient software.
      </h2>
    </div>
    <div>
      <a class="button button-download ph4 mt0" href="/learn/get-started">
        Get started
      </a>
      <p class="tc f3 f2-l mt3">
        <a href="{{data.rust_release_post}}">{{data.rust_version}}</a>
      </p>
    </div>
  </div>
</header>

{{> components/panels/language-values }}
{{> components/panels/domains }}
{{> components/panels/production }}
{{> components/panels/get-involved }}

{{/inline}}
{{~> (parent)~}}
