{{#*inline "page"}}
<header class="mb6-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw8-l">
      <h1>Rust</h1>
      <h2 class="mt4 f2 f1-ns">
        The programming language that empowers <em>everyone</em> to become a
        systems programmer.
      </h2>
    </div>
    <div class="mt4 mt0-l">
      <a class="button button-primary button-download ph4 mt0" href="/learn/get-started">
        Get started
      </a>
      <p class="tc f3 f2-l mt3">
        {{rust_version}}
      </p>
    </div>
  </div>
</header>

{{> panels/language-values }}
{{> panels/domains }}
{{> panels/production }}
{{> panels/get-involved }}

{{/inline}}
{{~> (parent)~}}
