{{#*inline "page"}}
<header>
  <div class="header-text">
    <div>
      <h1>RUST</h1>
      <h2><strong>A systems programming language</strong> that runs blazingly fast and guarantees thread safety</h2>
    </div>
    <button>
      <strong>DOWNLOAD</strong><br/>
      <span>v. 1.2.4</span>
    </button>
  </div>
</header>

<section class="home-intro">
  <div class="purple-line">
    <h3 class="subheader">
      Design with Rust
    </h3>
  </div>
  <div class="subjects">
    <div class="subject-item">
      <p>
        {{> svgs/command-line}}
      </p>
      <a href="/what/cli">Command Line</a>
      <p>
        This is written in the train from Varna to Galatz. Last night we all assembled a little before the time of sunset.
      </p>
    </div>
    <div class="subject-item">
      <p>
        {{> svgs/wasm}}
      </p>
      <a href="/what/wasm">Web Assembly</a>
      <p>
        Each of us had done his work as well as he could; so far as thought, and endeavour, and opportunity go, we are prepared for the whole of our journey, and for our work when we get to Galatz.
      </p>
    </div>

    <div class="subject-item">
      <p>
        {{> svgs/server}}
      </p>
      <a href="/what/server">Server</a>
      <p>
        When the usual time came round Mrs. Harker prepared herself for her hypnotic effort; and after a longer and more serious effort on the part of Van Helsing than has been usually necessary, she sank into the trance
      </p>
    </div>

    <div class="subject-item">
      <p>
        {{> svgs/embedded}}
      </p>
      <a href="/what/embedded">Embedded</a>
      <p>
        Usually she speaks on a hint; but this time the Professor had to ask her questions, and to ask them pretty resolutely, before we could learn anything; at last her answer came
      </p>
    </div>
  </div>
</section>

<img class="center-background-logo" src="/static/images/rust-logo-purple2.png">

<section class="home-production">
  <div class="light-purple-line">
    <h3 class="subheader">Rust in Production</h3>
  </div>
  <div class="description-container">
    <div class="description">
      <p>
        I can see nothing; we are still; there are no waves lapping, but only a steady swirl of water softly running against the hawser. I can hear men's voices calling, near and far, and the roll and creak of oars in the rowlocks. A gun is fired somewhere; the echo of it seems far away.
      <p>
      <a href="production">
        <button>
          <strong>Learn more</strong>
        </button>
      </a>
    </div>
    {{> svgs/monitor}}
  </div>
  <div class="company-logos">
    <div>
      <h2>Company Logo 1</h2>
      <span>
        "We love Rust at our company! We love it because of reasons! Reasons that are great."
      </span>
      <p class="quote-attribution">
        <strong>Person Name</strong><br/>
        person title
      </p>
    </div>
    <div>
      <h2>Company Logo 2</h2>
      <span>
        "We love Rust at our company! We love it because of reasons! Reasons that are great."
      </span>
      <p class="quote-attribution">
        <strong>Person Name</strong><br/>
        person title
      </p>
    </div>
  </div>
</section>

<section class="home-community">
  <div class="purple-line">
    <h3 class="subheader">Get Involved</h3>
  </div>
  <div class="community-content">
    <div class="community-info">
      <p>
        <img class="icon" src="/static/images/contribute.png">
        <a href="/contribute">Contribute</a><br/>
      </p>
      <p class="contribute-info">
        There is tramping of feet overhead, and ropes and chains are dragged along. What is this?
      </p>
      <button>
        contribute code
      </button>
      <p>
        <a href="/community/content">Content</a><br/>
        <a href="/community/rustbridge">Rust Bridge</a>
      </p>
    </div>
    <div>
      <div class="events-icon">
        <img class="icon" src="/static/images/events.png">
        <a href="/community/events">Events</a>
      </div>
      <img class="map" src="/static/images/map.svg">
    </div>
  </div>
</section>
<img class="bottom-background-logo" src="/static/images/rust-logo-purple2.png">
{{/inline}}
{{~> (parent)~}}
