{{#*inline "page"}}
<header>
  <div>
    <h1>RUST</h1>
    <h2>A systems programming language that runs blazingly fast and guarantees thread safety</h2>
  </div>
  <button>
    <strong>DOWNLOAD</strong><br/>
    <span>v. 1.2.4</span>
  </button>
</header>

<section class="home-intro">
  <div class="purple-line">
    <h3 class="subheader">
      Design with Rust
    </h3>
  </div>
  <div class="subjects">
    <div class="subject-item">
      <p>
        <svg width="47px" height="47px" viewBox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Rust-Homepage-Revision" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Homepage---mix,-blue-bottom---mixed-buttons" transform="translate(-112.000000, -1117.000000)" fill="#46A4DE">
                    <g id="Design-with-Rust" transform="translate(-5.000000, 884.000000)">
                        <g id="Command-Line" transform="translate(110.000000, 233.000000)">
                            <g id="usb" transform="translate(7.000000, 0.000000)">
                                <path d="M2.49787805,44.3148098 L44.315039,44.3148098 L44.315039,2.49764878 L2.49787805,2.49764878 L2.49787805,44.3148098 Z M45.5636341,46.8126878 L1.24882439,46.8126878 C0.559185366,46.8126878 0,46.2535024 0,45.5638634 L0,1.24905366 C0,0.559414634 0.559185366,0 1.24882439,0 L45.5636341,0 C46.2532732,0 46.8126878,0.559414634 46.8126878,1.24905366 L46.8126878,45.5638634 C46.8126878,46.2535024 46.2532732,46.8126878 45.5636341,46.8126878 L45.5636341,46.8126878 Z" id="Fill-1"></path>
                                <path d="M8.86809756,37.390678 L37.9448195,37.390678 L37.9448195,27.5254927 L8.86809756,27.5254927 L8.86809756,37.390678 Z M39.1936439,39.8885561 L7.6190439,39.8885561 C6.92963415,39.8885561 6.37021951,39.3291415 6.37021951,38.6397317 L6.37021951,26.2766683 C6.37021951,25.5870293 6.92963415,25.0276146 7.6190439,25.0276146 L39.1936439,25.0276146 C39.8832829,25.0276146 40.4424683,25.5870293 40.4424683,26.2766683 L40.4424683,38.6397317 C40.4424683,39.3291415 39.8832829,39.8885561 39.1936439,39.8885561 L39.1936439,39.8885561 Z" id="Fill-3"></path>
                                <polygon id="Fill-4" points="11.3061366 32.4582 35.506322 32.4582 35.506322 29.5425951 11.3061366 29.5425951"></polygon>
                                <polygon id="Fill-5" points="14.0064585 34.086922 16.4472488 34.086922 16.4472488 31.7846098 14.0064585 31.7846098"></polygon>
                                <polygon id="Fill-6" points="19.4593756 34.086922 21.9001659 34.086922 21.9001659 31.7846098 19.4593756 31.7846098"></polygon>
                                <polygon id="Fill-7" points="24.9122927 34.086922 27.3530829 34.086922 27.3530829 31.7846098 24.9122927 31.7846098"></polygon>
                                <polygon id="Fill-8" points="30.3652098 34.086922 32.806 34.086922 32.806 31.7846098 30.3652098 31.7846098"></polygon>
                                <path d="M30.4228249,14.4370473 L19.0293371,14.4370473 C18.339698,14.4370473 17.7802834,13.877862 17.7802834,13.1882229 C17.7802834,12.4985839 18.339698,11.9391693 19.0293371,11.9391693 L30.4228249,11.9391693 C31.1124639,11.9391693 31.6716493,12.4985839 31.6716493,13.1882229 C31.6716493,13.877862 31.1124639,14.4370473 30.4228249,14.4370473" id="Fill-9"></path>
                                <path d="M19.5612395,13.1883834 C19.5612395,14.3961688 18.5820346,15.3753737 17.37402,15.3753737 C16.1660054,15.3753737 15.1870298,14.3961688 15.1870298,13.1883834 C15.1870298,11.9801395 16.1660054,11.0011639 17.37402,11.0011639 C18.5820346,11.0011639 19.5612395,11.9801395 19.5612395,13.1883834" id="Fill-10"></path>
                                <path d="M20.8016268,14.4370473 C20.5498902,14.4370473 20.2960902,14.3613888 20.0753049,14.2034229 C19.5147439,13.8019741 19.3856659,13.0220034 19.7871146,12.4609839 L23.2155927,7.67317415 C23.4503634,7.34577902 23.8281976,7.15158878 24.231022,7.15158878 L28.960139,7.15158878 C29.649778,7.15158878 30.2089634,7.71077415 30.2089634,8.40041317 C30.2089634,9.0900522 29.649778,9.64923756 28.960139,9.64923756 L24.8729732,9.64923756 L21.8182024,13.915462 C21.5740317,14.2559254 21.1906951,14.4370473 20.8016268,14.4370473" id="Fill-11"></path>
                                <path d="M31.62536,18.3975195 L26.2462673,18.3975195 C25.8505502,18.3975195 25.4782185,18.2102073 25.24276,17.8919829 L22.3092722,13.9316024 C21.898882,13.3772317 22.015121,12.5949683 22.569721,12.184578 C23.1236332,11.7739585 23.9063551,11.8911146 24.3165161,12.4447976 L26.8756088,15.8996415 L31.62536,15.8996415 C32.314999,15.8996415 32.8741844,16.4590561 32.8741844,17.1486951 C32.8741844,17.8383341 32.314999,18.3975195 31.62536,18.3975195" id="Fill-12"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </p>
      <a href="/what/cli">Command Line</a>
      <p>
        This is written in the train from Varna to Galatz. Last night we all assembled a little before the time of sunset.
      </p>
    </div>
    <div class="subject-item">
      <p>
        <svg width="40px" height="58px" viewBox="0 0 40 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="6.62983425e-05 0.118980237 26.3689061 0.118980237 26.3689061 33.0629115 6.62983425e-05 33.0629115"></polygon>
            </defs>
            <g id="Rust-Homepage-Revision" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Homepage---mix,-blue-bottom---mixed-buttons" transform="translate(-438.000000, -1103.000000)">
                    <g id="Design-with-Rust" transform="translate(-5.000000, 884.000000)">
                        <g id="Web-Assembly" transform="translate(441.000000, 219.000000)">
                            <g id="mouse" transform="translate(2.000000, 0.000000)">
                                <path d="M18.2788268,16.5126845 C15.5822587,16.5126845 13.3881321,18.8208026 13.3881321,21.6577491 L13.3881321,42.7451568 C13.3881321,49.7714483 18.8216041,55.4875461 25.5,55.4875461 C32.1786152,55.4875461 37.6116487,49.7714483 37.6116487,42.7451568 L37.6116487,21.6577491 C37.6116487,18.8208026 35.4181798,16.5126845 32.7218308,16.5126845 L18.2788268,16.5126845 Z M25.5,58 C17.5047774,58 11,51.1568266 11,42.7451568 L11,21.6577491 C11,17.4351937 14.2652128,14 18.2788268,14 L32.7218308,14 C36.7347872,14 40,17.4351937 40,21.6577491 L40,42.7451568 C40,51.1568266 33.4954418,58 25.5,58 L25.5,58 Z" id="Fill-1" fill="#46A4DE"></path>
                                <path d="M25,21 C24.4477694,21 24,20.4582752 24,19.7901701 L24,15.2098299 C24,14.5417248 24.4477694,14 25,14 C25.5522306,14 26,14.5417248 26,15.2098299 L26,19.7901701 C26,20.4582752 25.5522306,21 25,21" id="Fill-3" fill="#46A4DE"></path>
                                <path d="M38.8059339,31 L12.1940661,31 C11.5348855,31 11,30.5522717 11,30.0000918 C11,29.4479119 11.5348855,29 12.1940661,29 L38.8059339,29 C39.4653337,29 40,29.4479119 40,30.0000918 C40,30.5522717 39.4653337,31 38.8059339,31" id="Fill-5" fill="#46A4DE"></path>
                                <path d="M25.4998885,21.366292 C24.9097716,21.366292 24.4296046,21.8339035 24.4296046,22.4088071 L24.4296046,23.5918445 C24.4296046,24.1665309 24.9097716,24.6339252 25.4998885,24.6339252 C26.0900054,24.6339252 26.5703954,24.1665309 26.5703954,23.5918445 L26.5703954,22.4088071 C26.5703954,21.8339035 26.0900054,21.366292 25.4998885,21.366292 M25.4998885,27 C23.5702998,27 22,25.4709779 22,23.5918445 L22,22.4088071 C22,20.5292393 23.5702998,19 25.4998885,19 C27.4299232,19 29,20.5292393 29,22.4088071 L29,23.5918445 C29,25.4709779 27.4299232,27 25.4998885,27" id="Fill-7" fill="#46A4DE"></path>
                                <path d="M25,32 C24.4477694,32 24,31.4201141 24,30.7049453 L24,26.2950547 C24,25.5801236 24.4477694,25 25,25 C25.5522306,25 26,25.5801236 26,26.2950547 L26,30.7049453 C26,31.4201141 25.5522306,32 25,32" id="Fill-9" fill="#46A4DE"></path>
                                <path d="M24.4810501,14.4798566 L26.5189499,14.4798566 L26.5189499,13.632561 C26.5189499,13.5705694 26.4690784,13.5201434 26.4082761,13.5201434 L24.5917239,13.5201434 C24.5309216,13.5201434 24.4810501,13.5705694 24.4810501,13.632561 L24.4810501,14.4798566 Z M27.7593611,17 L23.2406389,17 C22.5556459,17 22,16.4355989 22,15.7398126 L22,13.632561 C22,12.1810787 23.1627574,11 24.5917239,11 L26.4082761,11 C27.8372426,11 29,12.1810787 29,13.632561 L29,15.7398126 C29,16.4355989 28.4443541,17 27.7593611,17 L27.7593611,17 Z" id="Fill-11" fill="#46A4DE"></path>
                                <g id="Group-15">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-14"></g>
                                    <path d="M1.2038232,33.0629115 C0.539071823,33.0629115 6.62983425e-05,32.5037731 6.62983425e-05,31.8141921 L6.62983425e-05,11.8337652 C6.62983425e-05,5.37421581 5.06592265,0.118911462 11.292663,0.118911462 L15.0760884,0.118911462 C21.3030497,0.118911462 26.3689061,5.37421581 26.3689061,11.8337652 C26.3689061,12.5233462 25.8299006,13.0824846 25.1651492,13.0824846 C24.5003978,13.0824846 23.9613923,12.5233462 23.9613923,11.8337652 C23.9613923,6.75131462 19.9753149,2.6163502 15.0760884,2.6163502 L11.292663,2.6163502 C6.39343646,2.6163502 2.40758011,6.75131462 2.40758011,11.8337652 L2.40758011,31.8141921 C2.40758011,32.5037731 1.86857459,33.0629115 1.2038232,33.0629115" id="Fill-13" fill="#46A4DE" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </p>
      <a href="/what/wasm">Web Assembly / WASM</a>
      <p>
        Each of us had done his work as well as he could; so far as thought, and endeavour, and opportunity go, we are prepared for the whole of our journey, and for our work when we get to Galatz.
      </p>
    </div>

    <div class="subject-item">
      <p>
        <svg width="31px" height="63px" viewBox="0 0 31 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Rust-Homepage-Revision" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Homepage---mix,-blue-bottom---mixed-buttons" transform="translate(-773.000000, -1103.000000)" fill="#46A4DE">
                    <g id="Design-with-Rust" transform="translate(-5.000000, 884.000000)">
                        <g id="Website" transform="translate(776.000000, 219.000000)">
                            <g id="tower" transform="translate(2.000000, 0.000000)">
                                <path d="M2.44742754,60.3748473 L28.4355362,60.3748473 L28.4355362,2.49571636 L2.44742754,2.49571636 L2.44742754,60.3748473 Z M29.6591377,62.8707927 L1.22360145,62.8707927 C0.547891304,62.8707927 0,62.31204 0,61.6229345 L0,1.24785818 C0,0.558752727 0.547891304,0 1.22360145,0 L29.6591377,0 C30.3348478,0 30.8829638,0.558752727 30.8829638,1.24785818 L30.8829638,61.6229345 C30.8829638,62.31204 30.3348478,62.8707927 29.6591377,62.8707927 L29.6591377,62.8707927 Z" id="Fill-1"></path>
                                <path d="M23.8322159,8.91362945 L7.05065797,8.91362945 C6.37494783,8.91362945 5.82705652,8.35487673 5.82705652,7.66577127 C5.82705652,6.97666582 6.37494783,6.417684 7.05065797,6.417684 L23.8322159,6.417684 C24.5079261,6.417684 25.0558174,6.97666582 25.0558174,7.66577127 C25.0558174,8.35487673 24.5079261,8.91362945 23.8322159,8.91362945" id="Fill-3"></path>
                                <path d="M23.8322159,15.2719102 L7.05065797,15.2719102 C6.37494783,15.2719102 5.82705652,14.7131575 5.82705652,14.024052 C5.82705652,13.3349465 6.37494783,12.7759647 7.05065797,12.7759647 L23.8322159,12.7759647 C24.5079261,12.7759647 25.0558174,13.3349465 25.0558174,14.024052 C25.0558174,14.7131575 24.5079261,15.2719102 23.8322159,15.2719102" id="Fill-4"></path>
                                <path d="M7.92476812,60.3748473 L22.9581957,60.3748473 L22.9581957,33.4557491 L7.92476812,33.4557491 L7.92476812,60.3748473 Z M24.1817971,62.8707927 L6.70116667,62.8707927 C6.02545652,62.8707927 5.47734058,62.31204 5.47734058,61.6229345 L5.47734058,32.2078909 C5.47734058,31.5187855 6.02545652,30.9600327 6.70116667,30.9600327 L24.1817971,30.9600327 C24.8575072,30.9600327 25.4053986,31.5187855 25.4053986,32.2078909 L25.4053986,61.6229345 C25.4053986,62.31204 24.8575072,62.8707927 24.1817971,62.8707927 L24.1817971,62.8707927 Z" id="Fill-5"></path>
                                <path d="M15.441437,44.4491116 C13.1604659,44.4491116 11.3042848,42.5563625 11.3042848,40.2301735 C11.3042848,39.541068 11.8524007,38.9823153 12.5281109,38.9823153 C13.203821,38.9823153 13.7517123,39.541068 13.7517123,40.2301735 C13.7517123,41.1802135 14.5096399,41.9531662 15.441437,41.9531662 C16.3732341,41.9531662 17.1311616,41.1802135 17.1311616,40.2301735 C17.1311616,39.541068 17.6790529,38.9823153 18.354763,38.9823153 C19.0304732,38.9823153 19.5785891,39.541068 19.5785891,40.2301735 C19.5785891,42.5563625 17.722408,44.4491116 15.441437,44.4491116" id="Fill-6"></path>
                                <path d="M15.441437,40.2896684 C14.7657268,40.2896684 14.2178355,39.7309156 14.2178355,39.0418102 L14.2178355,37.0212284 C14.2178355,36.3321229 14.7657268,35.7733702 15.441437,35.7733702 C16.1171471,35.7733702 16.6650384,36.3321229 16.6650384,37.0212284 L16.6650384,39.0418102 C16.6650384,39.7309156 16.1171471,40.2896684 15.441437,40.2896684" id="Fill-7"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </p>
      <a href="/what/server">Server</a>
      <p>
        When the usual time came round Mrs. Harker prepared herself for her hypnotic effort; and after a longer and more serious effort on the part of Van Helsing than has been usually necessary, she sank into the trance
      </p>
    </div>

    <div class="subject-item">
      <p>
        <svg width="61px" height="47px" viewBox="0 0 61 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0 -2.84217094e-14 60.8210818 -2.84217094e-14 60.8210818 46.7825407 0 46.7825407"></polygon>
            </defs>
            <g id="Rust-Homepage-Revision" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Homepage---mix,-blue-bottom---mixed-buttons" transform="translate(-1093.000000, -1125.000000)">
                    <g id="Design-with-Rust" transform="translate(-5.000000, 884.000000)">
                        <g id="Embedded" transform="translate(1098.000000, 241.000000)">
                            <g id="monitor">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M2.47061338,38.2078517 L58.3506952,38.2078517 L58.3506952,2.45007177 L2.47061338,2.45007177 L2.47061338,38.2078517 Z M59.5858885,40.6576986 L1.23519331,40.6576986 C0.553081784,40.6576986 0,40.1092153 0,39.4325502 L0,1.22514833 C0,0.548708134 0.553081784,-2.84217094e-14 1.23519331,-2.84217094e-14 L59.5858885,-2.84217094e-14 C60.2677732,-2.84217094e-14 60.8210818,0.548708134 60.8210818,1.22514833 L60.8210818,39.4325502 C60.8210818,40.1092153 60.2677732,40.6576986 59.5858885,40.6576986 L59.5858885,40.6576986 Z" id="Fill-1" fill="#46A4DE" mask="url(#mask-2)"></path>
                                <path d="M28.9108253,44.3324689 L31.91071,44.3324689 L31.91071,40.6574737 L28.9108253,40.6574737 L28.9108253,44.3324689 Z M33.1459033,46.7825407 L27.6754052,46.7825407 C26.9935204,46.7825407 26.4402119,46.2340574 26.4402119,45.5576172 L26.4402119,39.4325502 C26.4402119,38.7563349 26.9935204,38.2078517 27.6754052,38.2078517 L33.1459033,38.2078517 C33.8280149,38.2078517 34.3810967,38.7563349 34.3810967,39.4325502 L34.3810967,45.5576172 C34.3810967,46.2340574 33.8280149,46.7825407 33.1459033,46.7825407 L33.1459033,46.7825407 Z" id="Fill-3" fill="#46A4DE" mask="url(#mask-2)"></path>
                                <path d="M38.4397963,46.7825407 L22.381603,46.7825407 C21.6994914,46.7825407 21.1464097,46.2340574 21.1464097,45.5576172 C21.1464097,44.881177 21.6994914,44.3324689 22.381603,44.3324689 L38.4397963,44.3324689 C39.1219078,44.3324689 39.6749896,44.881177 39.6749896,45.5576172 C39.6749896,46.2340574 39.1219078,46.7825407 38.4397963,46.7825407" id="Fill-4" fill="#46A4DE" mask="url(#mask-2)"></path>
                                <path d="M59.5858204,34.3577871 L1.23535204,34.3577871 C0.55324052,34.3577871 -6.80297398e-05,33.8093038 -6.80297398e-05,33.1328636 C-6.80297398e-05,32.4564234 0.55324052,31.9077153 1.23535204,31.9077153 L59.5858204,31.9077153 C60.267932,31.9077153 60.8210138,32.4564234 60.8210138,33.1328636 C60.8210138,33.8093038 60.267932,34.3577871 59.5858204,34.3577871" id="Fill-5" fill="#46A4DE" mask="url(#mask-2)"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </p>
      <a href="/what/embedded">Embedded</a>
      <p>
        Usually she speaks on a hint; but this time the Professor had to ask her questions, and to ask them pretty resolutely, before we could learn anything; at last her answer came
      </p>
    </div>
  </div>
</section>

<section class="home-production">
  <div class="light-purple-line">
    <h3 class="subheader">Rust in Production</h3>
  </div>
  <a href="production">Production</a>
</section>

<section class="home-community">
  <div class="purple-line">
    <h3 class="subheader">Get Involved</h3>
  </div>
  <a href="/community/events">Events</a>
  <a href="/community/content">Content</a>
  <a href="/community/rustbridge">Rust Bridge</a>
</section>
{{/inline}}
{{~> (parent)~}}
