{{#*inline "page"}}
<header>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h1>Rust</h1>
        <h1 class="subtitle">The programming language that empowers everyone to become a systems programmer.</h1>
      </div>
      <div class="four columns">
        <a class="button button-primary button-download" href="https://rustup.rs">
          Install now
        </a>
      </div>
    </div>
  </div>
</header>

{{> panels/domains }}
{{> panels/production }}
{{> panels/unique }}
{{> panels/get-involved }}

{{/inline}}
{{~> (parent)~}}
