{{#*inline "page"}}
<header>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h1>RUST</h1>
        <h1 class="subtitle">A systems programming language</strong> that runs blazingly fast and guarantees thread safety</h1>
      </div>
      <div class="four columns">
        <a class="button button-primary" href="#">
          <span>DOWNLOAD</span><br/>
          <span>v. 1.2.4</span>
        </a>
      </div>
    </div>
  </div>
</header>

{{> panels/domains }}
{{> panels/production }}
{{> panels/get-involved }}

{{/inline}}
{{~> (parent)~}}
