{{#*inline "page"}}
<header>
  <div class="w-80 center pa3 ph5-ns">
    <div class="cf">
      <div class="fl w-100 w-60-ns">
        <h1 class="mv0-l">Rust</h1>
        <h1 class="f1-l mv0-l subtitle">The programming language that empowers everyone to become a systems programmer.</h1>
      </div>
      <div class="fl w-100 w-40-ns">
        <a class="button button-primary button-download" href="https://rustup.rs">
          Install now
        </a>
      </div>
    </div>
  </div>
</header>

{{> panels/domains }}
{{> panels/production }}
{{> panels/get-involved }}

{{/inline}}
{{~> (parent)~}}
