<select id="lang">
  <option value="">Languages</option>
  <option title="English (US)" value="en-US">English (en-US)</option>
  <option title="French" value="fr">Français (fr)</option>
  <option title="German" value="de">Deutsch (de)</option>
</select>
