<label for="language" class="hidden">Language</label>
<select id="language">
  <option title="English (US)" value="en-US">English (en-US)</option>
  <option title="French" value="fr">Français (fr)</option>
  <option title="German" value="de">Deutsch (de)</option>
</select>
