<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/Skeleton-2.0.4/css/skeleton.css"/>
    <link rel="stylesheet" href="/static/styles/Skeleton-2.0.4/css/normalize.css"/>
    <link rel="stylesheet" href="/static/styles/app.css"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
