<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rustlang">
    <meta name="twitter:creator" content="@rustlang">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="A systems programming language that runs blazingly fast, prevents segfaults, and guarantees thread safety.">
    <meta name="twitter:image" content="/static/images/rust-logo-blk.png">
    
    <link rel="stylesheet" href="/static/styles/Skeleton-2.0.4/css/skeleton.css"/>
    <link rel="stylesheet" href="/static/styles/Skeleton-2.0.4/css/normalize.css"/>
    <link rel="stylesheet" href="/static/styles/app.css"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
