<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/skeleton.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
