<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A systems programming language that runs blazingly fast, prevents segfaults, and guarantees thread safety.">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rustlang">
    <meta name="twitter:creator" content="@rustlang">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="A systems programming language that runs blazingly fast, prevents segfaults, and guarantees thread safety.">
    <meta name="twitter:image" content="http://rust-wubwub.herokuapp.com/static/images/rust-social.jpg">

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="A systems programming language that runs blazingly fast, prevents segfaults, and guarantees thread safety.">
    <meta property="og:image" content="http://rust-wubwub.herokuapp.com/static/images/rust-social-wide.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fira+Sans:400,400i,600,600i,800,800i" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="/static/styles/Skeleton-2.0.4/css/skeleton.css"/>
    <link rel="stylesheet" href="/static/styles/tachyons.css"/>
    <link rel="stylesheet" href="/static/styles/app.css"/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
