<a href="/">
  <img alt="Rust logo" class="logo-small" src="static/images/rust-logo.png">
</a>

<input id="toggle" type="checkbox" style="visibility:hidden">
<label for="toggle" class="hamburger hamburger--elastic" type="button"
          aria-label="Menu" aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
</label>
<nav>
  <a href="/what">What?</a>
  <a href="/production">Production</a>
  <a href="/policies">Policies</a>
  <a href="/governance">Governance</a>
  <a href="/community">Community</a>
  <a href="/contribute">Contribute</a>
  <a href="/tools/cargo">Cargo</a>
  <a href="/tools">Tools</a>
  <a href="/learn">Learn</a>
  <a href="/learn/getting-started">Getting Started</a>
  <a href="/what/release-timeline">Release Timeline</a>
</nav>
