<nav>
  <a href="/what">What?</a>
  <a href="/production">Production</a>
  <a href="/policies">Policies</a>
  <a href="/governance">Governance</a>
  <a href="/community">Community</a>
  <a href="/contribute">Contribute</a>
  <a href="/tools/cargo">Cargo</a>
  <a href="/tools">Tools</a>
  <a href="/learn">Learn</a>
  <a href="/learn/getting-started">Getting Started</a>
  <a href="/what/release-timeline">Release Timeline</a>
</nav>
