<a href="/">
  <img alt="Rust logo" class="logo-small" src="/static/images/rust-logo.png">
</a>

<input id="toggle" type="checkbox" style="visibility:hidden">
<label for="toggle" class="hamburger hamburger--elastic" type="button"
          aria-label="Menu" aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
</label>
<nav aria-label="Rust">
  <ul role="menubar" aria-label="Rust">
    <li class="has-submenu">
      <a role="menuitem" aria-haspopup="true" href="/what" tabindex="0">What?</a>
      <ul role="menu" aria-label="What">
        <a role="none" href="/what/release-timeline"><li role="menuitem" tabindex="-1">Release Timeline</li></a>
        <a role="none" href="/production"><li role="menuitem" tabindex="-1">Production</li></a>
      </ul>
    </li>

    <li class="has-submenu">
      <a role="menuitem" aria-haspopup="true" href="/learn" tabindex="0">Learn</a>
      <ul role="menu" aria-label="Learn">
        <a role="menuitem" href="/learn/getting-started"><li tabindex="-1">Getting Started</li></a>
        <a role="menuitem" href="/tools/cargo"><li tabindex="-1">Cargo</li></a>
        <a role="menuitem" href="/tools"><li tabindex="-1">Tools</li></a>
      </ul>
    </li>

    <li class="has-submenu">
      <a role="menuitem" aria-haspopup="true" href="/community" tabindex="0">Community</a>
      <ul role="menu" aria-label="Community">
        <a role="menuitem" href="/governance"><li>Governance</li></a>
        <a role="menuitem" href="/policies"><li>Policies</li></a>
      </ul>
    </li>

    <a role="menuitem" href="/contribute"><li>Contribute</li></a>
  </ul>
</nav>

<script>
// TODO: make this work
// Should add a one-second delay to all dropdowns on mouseenter
// I think I am either (or both) selecting the wrong elements and/or
// adding the className to the wrong elements
// or else the timer isn't being set right somehow
var menuItems = document.querySelectorAll('li.has-submenu a li');
var timer;

Array.prototype.forEach.call(menuItems, function(el, i){
	el.addEventListener("mouseover", function(event){
		this.className = "has-submenu open";
		clearTimeout(timer);
	});
	el.addEventListener("mouseout", function(event){
		timer = setTimeout(function(event){
			document.querySelector(".has-submenu.open").className = "has-submenu";
		}, 1000);
	});
});
</script>
