<!doctype html>
<html>
  <meta http-equiv="refresh" content="0; url={{ data.url }}">
  <body>Redirecting to <a href="{{ data.url }}">{{ data.url }}</a>...</body>
  <script>location.href = "{{ data.url }}";</script>
</html>
