<section id="networking-get-started" class="red">
    <div class="container">
        <header>
            <h2>Get started!</h2>
            <div class="highlight"></div>
        </header>

        <div>
            <p>Rust has a growing ecosystem of easy-to-use libraries for the web. Here are just two examples:
            </p>
        </div>

        <div class="row">
            <article class="six columns box">
                <h3>POST some JSON</h3>
                <pre><code>{{> what/networking/post-json }}</code></pre>

                <a href="https://docs.rs/reqwest/" class="button button-secondary">Learn more about reqwest</a>
            </article>

            <article class="six columns box">
                <h3>Handle a JSON POST</h3>
                <pre><code>{{> what/networking/take-json }}</code></pre>

                <a href="https://rocket.rs/" class="button button-secondary">Learn more about Rocket</a>
            </article>
        </div>
    </div>
</section>