<section id="production" class="white">
    <div class="container">
        <header>
            <h2>Production use</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial row">
                <div class="four columns">
                    <img src="/static/images/user-logos/cloudflare.svg" />
                </div>
                <div class="eight columns">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent orci nulla, cursus vitae quam
                        vitae, consectetur eleifend enim. Cras lacus lacus, bibendum a dictum ut, bibendum vel ligula.
                        Sed eu bibendum elit.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Some One,
                        <a href="">Somewhere</a>
                    </p>
                </div>
            </div>
            <div class="testimonial row">
                <div class="eight columns">
                    <blockquote>
                        Maecenas at urna faucibus nisl dictum tristique. Fusce vel semper lorem, eu consectetur est.
                        Donec lacinia elit est, nec lacinia erat bibendum vitae. Suspendisse potenti. Fusce ullamcorper
                        at mi sed pharetra.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Some One,
                        <a href="">Somewhere</a>
                    </p>
                </div>
                <div class="four columns">
                    <a href="https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/" style="display: block;">
                        <img src="/static/images/firefox.png" />
                    </a>
                </div>
            </div>
            <div class="testimonial row">
                <div class="four columns">
                    <img src="/static/images/dropbox.svg" />
                </div>
                <div class="eight columns">
                    <blockquote>
                        Duis euismod dictum erat, fringilla efficitur ante aliquam et. Nullam ut urna lobortis, viverra
                        metus quis, volutpat tortor.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Some One,
                        <a href="">Somewhere</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>