<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Production use</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial row">
                <div class="four columns">
                    <img src="/static/images/firefox.png" />
                </div>
                <div class="eight columns">
                    <blockquote>
                        Migrating our Push connection infrastructure to Rust has provided us with an easier to maintain
                        code-base with a focus on correctness while delivering fantastic performance. We are now
                        handling up to 20 million websocket connections at once during peak hours with Rust servers.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Benjamin Bangert, Staff Engineer,
                        Mozilla
                    </p>
                </div>
            </div>
            <div class="testimonial row">
                <div class="eight columns">
                    <blockquote>
                        Rust is foundational to the Linkerd project’s technology roadmap. Its type system allows us to
                        build modular, testable, composable units without sacrificing runtime performance. What’s been
                        most surprising, though, is how Rust’s lifetime/borrow checking system allows us to avoid large
                        classes of resource leaks. After 2 years, I really can’t imagine using any other language for
                        the job.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Oliver Gould, CTO,
                        <a href="https://buoyant.io/">Buoyant</a>
                    </p>
                </div>
                <div class="four columns">
                    <img src="/static/images/buoyant.svg" />
                </div>
            </div>
        </div>
    </div>
</section>