body {
  font-family: sans-serif;
}

footer, nav {
  padding: 10px;
  margin: 10px auto;
}

footer {
  background: black;
  color: white;
}

.three-boxes {
  display: flex;
  justify-content: space-between;
}

.three-boxes .box {
  width: 32%;
}
