{{#*inline "page"}}

<header>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Friends</h1>
  </div>
</header>

<section id="friends">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>???????????</h1>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
