<a href="/">⬅️ back to Home</a>

<h1>Production</h1>

<section id="whitepapers">
  <h2>White Papers</h2>
  <h3><a href="#">Link to White Paper</a></h3>
  <h3><a href="#">Link to White Paper</a></h3>
</section>

<hr/>

<section id="friends">
  <h2>Friends</h2>
  <h3><a href="#">Link to X random friends</a></h3>
  <h3><a href="/production/friends">Friends</a></h3>
</section>

<hr/>

<section id="learn-more">
  <h4>Learn more about what you can use Rust to do</h4>
  <a href="/what">What?: Uses</a>
  <br/>
  <h4>Learn more about how Rust is licensed</h4>
  <a href="/policies/license">Policies: License</a>
</section>
