{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Production</h1>
  </div>
</header>

<section id="whitepapers">
  <div class="container">
    <header>
      <h2>Whitepapers</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p>
      Read about companies' experiences with Rust in production.
    </p>
    <div class="row">
      <div class="six columns" id="tilde-whitepaper">
        <h3><a href="/static/pdfs/Rust-Tilde-Whitepaper.pdf">Tilde</a></h3>
        <p>Learn how Rust helps <a href="http://www.tilde.io/">Tilde</a>, makers of <a href="https://www.skylight.io/">Skylight</a>, use minimal resources to enable feature-rich performance monitoring of their customers' applications.</p>
      </div>
      <div class="six columns" id="chucklefish-whitepaper">
        <h3><a href="/static/pdfs/Rust-Chucklefish-Whitepaper.pdf">Chucklefish</a></h3>
        <p><a href="https://chucklefish.org/">Chucklefish</a>, the video game company that published Stardew Valley and Starbound, is using Rust in their new projects Wargroove and Witchbrook to get safe concurrency and portability.</p>
      </div>
    </div>
    <div class="top-border" id="share-your-experience">
      <p>Does your company use Rust? Consider sharing your experience with us!<p>
      <a href="mailto:community@rust-lang.org" class="button button-secondary">Reach out!</a>
    </div>
  </div>
</section>

<section id="friends">
  <div class="container">
    <header>
      <h2>Friends</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <div class="row">
      <div class="four columns" id="dropbox">
        <img src="/static/images/user-logos/dropbox.svg"/>
      </div>
      <div class="four columns" id="mozilla">
        <img src="/static/images/user-logos/mozilla.png" />
      </div>
      <div class="four columns" id="cloudflare">
        <img src="/static/images/user-logos/cloudflare.svg" />
      </div>
    </div>
    <div class="row">
      <div class="four columns" id="atlassian">
        <img src="/static/images/user-logos/atlassian.svg"/>
      </div>
      <div class="four columns" id="npm">
        <img src="/static/images/user-logos/npm.svg" />
      </div>
      <div class="four columns" id="braintree">
        <img src="/static/images/user-logos/braintree.png" />
      </div>
    </div>
    <div class="row">
      <div class="four columns" id="deliveroo">
        <img src="/static/images/user-logos/deliveroo.svg"/>
      </div>
      <div class="four columns" id="chef">
        <img src="/static/images/user-logos/chef.svg" />
      </div>
      <div class="four columns" id="postmates">
        <img src="/static/images/user-logos/postmates.png" />
      </div>
    </div>
  </div>
</section>

<section id="learn-more">
  <div class="container row">
    <div class="six columns" id="supporting-rust">
      <header>
        <h2>Supporting Rust</h2>
        <div class="highlight highlight-purple">
      </header>
      <p>Circumnavigated Flatland, circumnavigated descended from astronomers?</p>
      <a href="#" class="button button-secondary">Supporting Rust</a>
    </div>
    <div class="six columns" id="license">
      <header>
        <h2>License</h2>
        <div class="highlight highlight-green">
      </header>
      <p>White dwarf. Corpus callosum. Brain is the seed of intelligence rings of Uranus how far away vastness?</p>
      <a href="/policies/license" class="button button-secondary">Policies: License</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
