{{#*inline "page"}}

<header>
  <h1>Production</h1>
</header>

<section id="whitepapers">
  <h2>Whitepapers</h2>
  <p>Read about companies' experiences with Rust in production. Would your company like to be
  featured in a case study? <a href="mailto:community@rust-lang.org">Reach out!</a></p>

  <h3><a href="/static/pdfs/Rust-Tilde-Whitepaper.pdf">Rust at Tilde</a></h3>
  <p>Learn how Rust helps <a href="http://www.tilde.io/">Tilde</a>, makers of <a
  href="https://www.skylight.io/">Skylight</a>, use minimal resources to enable feature-rich
  performance monitoring of their customers' applications.</p>

  <h3><a href="/static/pdfs/Rust-Chucklefish-Whitepaper.pdf">Rust at Chucklefish</a></h3>
  <p><a href="https://chucklefish.org/">Chucklefish</a>, the video game company that published
  Stardew Valley and Starbound, is using Rust in their new projects Wargroove and Witchbrook to get
  safe concurrency and portability.</p>
</section>

<section id="friends">
  <h2>Friends</h2>
  <h3><a href="#">Link to X random friends</a></h3>
  <h3><a href="/production/friends">Friends</a></h3>
</section>

<section id="learn-more">
  <h4>Learn more about what you can use Rust to do</h4>
  <a href="/what">What?: Uses</a>
  <br/>
  <h4>Learn more about how Rust is licensed</h4>
  <a href="/policies/license">Policies: License</a>
</section>

{{/inline}}
{{~> (parent)~}}
