{{#*inline "page"}}

<header>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Users</h1>
  </div>
</header>

<section id="users" class="white">
  <div class="container">
    {{#each data as |user_row| ~}}
      <div class="row">
        {{#each user_row as |u| ~}}
          <div class="four columns">
            <a href="{{ u.url }}" target="_blank" rel="noopener">
              <img src="/static/images/user-logos/{{ u.logo }}"/>
            </a>
            <em>{{ u.name }}</em>: {{{ u.how }}}
          </div>
        {{/each~}}
      </div>
    {{/each~}}
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
