<option title="English (US)" value="en-US">English (en-US)</option>
<option title="中文 (zh-CN)" value="zh-CN">简体中文 (zh-CN)</option>
<option title="中文 (zh-TW)" value="zh-TW">正體中文 (zh-TW)</option>
<option title="Português (pt-BR)" value="pt-BR">Português (pt-BR)</option>
<option title="Turkish" value="tr">Türkçe (tr)</option>
