<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Empowering everyone to build reliable and efficient software.">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rustlang">
    <meta name="twitter:creator" content="@rustlang">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="Empowering everyone to build reliable and efficient software.">
    <meta name="twitter:image" content="https://www.rust-lang.org/static/images/rust-social.jpg">

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="Empowering everyone to build reliable and efficient software.">
    <meta property="og:image" content="https://www.rust-lang.org/static/images/rust-social-wide.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <!-- styles -->
    <link rel="stylesheet" href="/static/styles/vendor.css"/>
    <link rel="stylesheet" href="/static/styles/fonts.css"/>
    <link rel="stylesheet" href="/static/styles/app.css"/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {{> components/nav}}
    <div id="main-content">
        {{~> page}}
    </div>
    {{> components/footer}}
  </body>
</html>
