<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Rust Logo" src="/static/images/rust-logo-blk.svg">
      {{#unless is_landing}}
        <span class="dib ml1 ml0-l">Rust</span>
      {{/unless}}
    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/tools/install">Install</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/learn">Learn</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/tools">Tools</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/governance">Governance</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/community">Community</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="https://blog.rust-lang.org/">Blog</a></li>
  </ul>

  <div class=" w-100 w-auto-l flex-none flex justify-center pv4 pv-0-l languages">
    <label for="language-nav" class="hidden">Language</label>
    <select id="language-nav">
      {{> components/languages-dropdown}}
    </select>
  </div>

</nav>
