<section id="cli-use-it" class="red">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Get started!</h2>
            <div class="highlight"></div>
        </header>

        <div>
            <p>Writing a command-line app is a great way to learn Rust.
            </p>
        </div>

        <div class="row">
            <article class="six columns box">
                <h3>Define your inputs</h3>
                <pre><code>{{> components/what/cli/code-inputs }}</code></pre>
            </article>

            <article class="six columns box">
                <h3>Write your tool</h3>
                <pre><code>{{> components/what/cli/code-main }}</code></pre>
            </article>
        </div>

        <a href="https://rust-lang-nursery.github.io/cli-wg/" class="button button-secondary">Learn more with the CLI
            book</a>
    </div>
</section>
