<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Production use</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial row">
                <div class="four columns">
                  <img src="/static/images/sentry-logo-black.svg" alt="sentry logo"/>
                </div>
                <div class="eight columns">
                    <blockquote>
                        One of the reasons we liked Rust was the crates.io ecosystem. [...] There is a lot of really good already existing infrastructure for building very nice command-line interfaces.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Armin Ronacher, 
                        <a href="https://www.youtube.com/watch?v=2Xu6EdEBa5E" target="_blank" rel="noopener">
                            Rust at Sentry &ndash; PolyConf 2017
                        </a>
                    </p>
                </div>
            </div>
            <div class="testimonial row">
                <div class="eight columns">
                    <blockquote>
                        I have zero regrets with living in this code base. […] This was sort of an added bonus for me: Using Rust to make CLI or console based tools. It is very good at compiling for different target systems.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Fletcher Nichol,
                        <a href="https://www.youtube.com/watch?v=zAXbPnfTJg4" target="_blank" rel="noopener">
                            Taking Rust to Production &ndash; RustFest Kyiv
                        </a>
                    </p>
                </div>
                <div class="four columns">
                  <img src="/static/images/habitat.svg" alt="Habitat logo"/>
                </div>
            </div>
        </div>
    </div>
</section>
