<section class="white production">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <h2>{{fluent "production-title"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="description">
      <p class="lh-copy f2">
        {{fluent "production-blurb"}}
      </p>
    </div>
  </div>
</section>
