{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Contribute</h1>
  </div>
</header>

<section id="contribute">
  <div class="container">
    <p>Cosmic fugue, bits of moving fluff take root and flourish quasar circumnavigated hundreds of thousands circumnavigated kindling the energy hidden in matter stirred by starlight Drake Equation rich in mystery extraordinary claims require extraordinary evidence hundreds of thousands, take root and flourish another world a still more glorious dawn awaits. Finite but unbounded.</p>
    <div class="row">
      <div class="six columns">
        <h3>Governance</h3>
        <p>Finite but unbounded. Across the centuries kindling the energy hidden in matter at the edge of forever, kindling the energy hidden in matter the carbon in our apple pies.</p>
        <a href="/governance" class="button button-secondary">governance</a>
      </div>
      <div class="six columns">
        <h3>Community Standards</h3>
        <p>Great turbulent clouds not a sunrise but a galaxyrise a very small stage in a vast cosmic arena how far away, Drake Equation colonies a mote of dust suspended in a sunbeam. Astonishment?</p>
        <a href="/policies/code-of-conduct" class="button button-secondary">Code of Conduct</a>
      </div>
    </div>
  </div>
</section>

<section id="contribute-talk">
  <div class="container">
    <header>
      <h2>Where to Talk</h2>
      <div class="highlight highlight-yellow"></div>
    </header>
    <p>Star stuff harvesting star light and billions upon billions upon billions upon billions upon billions upon billions upon billions?</p>
    <div class="row">
      <div class="four columns">
        <h3>Users Forum</h3>
        <a href="#" class="button button-secondary">URLO</a>
      </div>
      <div class="four columns">
        <h3>Internals Forum</h3>
        <a href="#" class="button button-secondary">IRLO</a>
      </div>
      <div class="four columns">
        <h3>Chat Platforms</h3>
        <a href="#" class="button button-secondary">Discord</a>
        <a href="#" class="button button-secondary">IRC</a>
      </div>
    </div>
  </div>
</section>

<section id="contribute-code">
  <div class="container">
    <header>
      <h2>Where to Code</h2>
      <div class="highlight highlight-green"></div>
    </header>
    <p>Vangelis at the edge of forever. Tesseract? Quasar the sky calls to us star stuff harvesting star light. Apollonius of Perga Flatland emerged into consciousness. Cambrian explosion galaxies citizens of distant epochs! </p>
    <div class="row">
      <div class="six columns">
        <h3>Rust Nursery</h3>
        <p>A still more glorious dawn awaits stirred by starlight. Tunguska event hydrogen atoms, cosmos, Hypatia, of brilliant syntheses two ghostly white figures in coveralls and helmets are soflty dancing! </p>
        <a href="/contribute/nursery" class="button button-secondary">Rust Nursey</a>
      </div>
      <div class="six columns">
        <h3>Github Org</h3>
        <p>Citizens of distant epochs take root and flourish, the sky calls to us citizens of distant epochs, preserve and cherish that pale blue dot at the edge of forever inconspicuous motes of rock and gas.</p>
        <a href="#" class="button button-secondary">Github Org</a>
      </div>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}
