{{#*inline "page"}}

<header>
  <h1>Contribute</h1>
</header>

<section>
  <p>Copy about getting involved</p>
  <p>Learn more about Rust's <a href="/governance">governance</a>
  <p>Learn more about Rust's <a href="/policies/code-of-conduct">Code of Conduct</a>
</section>

<section id="talk">
  <h2>Where to Talk</h2>
  <p>copy</p>
  <a href="#">URLO</a>
  <a href="#">IRLO</a>
  <a href="#">IRC</a>
  <a href="#">Twitter</a>
  <a href="#">Gitter</a>
</section>

<section id="code">
  <h2>Where to Code</h2>
  <p>copy</p>
  <a href="/contribute/nursery">Rust Nursey</a>
  <a href="#">Rust Github</a>
</section>

{{/inline}}
{{~> (parent)~}}
