<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>Production use</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial flex flex-row">
                <div class="w-30-l tc pa5">
                    <img src="/static/images/firefox.png" alt="firefox" />
                </div>
                <div class="w-70-l">
                    <blockquote>
                        Migrating our Push connection infrastructure to Rust has provided us with an easier to maintain
                        code-base with a focus on correctness while delivering fantastic performance. We are now
                        handling up to 20 million websocket connections at once during peak hours with Rust servers.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Benjamin Bangert, Staff Engineer,
                        Mozilla
                    </p>
                </div>
            </div>
            <div class="testimonial flex flex-row">
                <div class="w-70-l">
                    <blockquote>
                        Rust is foundational to the Linkerd project’s technology roadmap. Its type system allows us to
                        build modular, testable, composable units without sacrificing runtime performance. What’s been
                        most surprising, though, is how Rust’s lifetime/borrow checking system allows us to avoid large
                        classes of resource leaks. After 2 years, I really can’t imagine using any other language for
                        the job.
                    </blockquote>
                    <p class="attribution">
                        &ndash; Oliver Gould, CTO,
                        <a href="https://buoyant.io/">Buoyant</a>
                    </p>
                </div>
                <div class="w-30-l tc pa3">
                    <img src="/static/images/buoyant.svg" alt="buoyant" />
                </div>
            </div>
            <div class="testimonial flex flex-row">
                <div class="w-30-l tc pa5">
                    <img src="/static/images/1aim.svg" alt="1aim" />
                </div>
                <div class="w-70-l">
                    <blockquote>
                        Rust's powerful type system enables safe refactoring and catches many classes of bugs at
                        compile time. Its low footprint and high performance, complemented by guaranteed memory safety
                        and rock-solid error handling make it perfect for writing security critical and complex
                        business logic for our backend. The ultra-high stability means that our Rust applications are
                        the last part of our stack we ever have to worry about. We have been running a almost 100% Rust
                        backend in production since end of 2015 and it has never failed us so far!
                    </blockquote>
                    <p class="attribution">
                        &ndash; Yann Leretaille,
                        <a href="https://1aim.com/">1aim</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
